{% extends 'list.html' %}

{% load static %}

{% block head_list %}

    <script src="{% static 'puntaje_lenguaje/js/list.js' %}"></script>
    <script src="{% static 'puntaje_lenguaje/js/listG.js' %}"></script>
    <!--<script src="{% static 'graficaest/js/listT.js' %}"></script>-->
    <script src="{% static 'zoom/chartjs-plugin-zoom.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>-->

{% endblock %}

{% block content %}

<div  onload="generar();">

    <div class="card card-default" onchange="generar();">

        <center>
             <select id="boton" name="boton" class="boton_1">
                 <option selected="selected" value="sii"> Elige una Opción </option>
                 <optgroup label="OPCIONES DE GRAFICAS">
                     <option value="Grafica">Graficas Multiples</option>
                     <option value="Grafica_B" >Grafica Barras Horizontal</option>
                     <option value="Grafica_L" >Grafica Linea</option>
                     <option value="Grafica_P" >Grafica Pastel</option>
                     <option value="Grafica_R" >Grafica Radar</option>
                 </optgroup>
                 <optgroup label="OPCIONES DE DATOS">
                     <option value="Tabla" >Tabla</option>
                 </optgroup>
            </select >
        </center>

        <div class="card-header">
             <h3 class="card-title">
                <i class="fas fa-search"></i>
                    {{ title }}
             </h3>
        </div>

        <div id="si">
            <center><h4> Bienvenido Selecciona en el Boton Grafica que Deseas Visualizar </h4></center>
        </div>

<!--<body bgcolor="#124456" text="#9bf3ea">-->
        <!--<div class="card-body" id="tab" style="display:none;">
            <table id="example" class="display" width="100%"></table>
        </div> -->
        <div class="card-body" id="tab" style="display:none;">
            <table class="table table-striped table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th scope="col" style="width: 20%;">Nombre Municipio</th>
                    <th scope="col" style="width: 20%;">Año de Presentacion</th>
                    <th scope="col" style="width: 20%;">Puntaje Promedio Lenguaje</th>
                </tr>
                </thead>
                <tbody>
                    {% for item in consultas %}
                    <tr>
                        {% for i in item %}
                            <td>
                                {{ i }}
                            </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <script>
                        $('#dataTable').DataTable({
                                    "pagingType": "full_numbers"
                        });
            </script>
        </div>

        <div id="graf" style="display:none;">
            <div class="container-fluid">
                <div class="row">
                      <div class="col">
                        <div class="col-md-11">

                            <canvas id="graficaest" data-url="{% url 'appdash:grafica_puntaje_leng' %}"  width="440" height="390" ></canvas>

                            <div style="width: 180px; margin: 0 auto;"> <!--Permite centrar botones-->
                                    <button id="downloadBtn" class="btn-info">Descargar como PDF</button>
                                    <br> <!--salro de reglon-->
                                    <br>
                                    <br>
                                    <button id="downloadBtnGra1" class="btn-info" > Deshacer Zoom </button>
                            </div>
                        </div>
                      </div>

                      <div class="col">
                             <div class="col-md-11">
                                    <canvas id="graficaestdos" data-url="{% url 'appdash:grafica_puntaje_leng' %}"  width="440" height="390" ></canvas>

                                 <div style="width: 180px; margin: 0 auto;">
                                        <button id="downloadBtn1" class="btn-info">Descargar como PDF</button>
                                        <br>
                                        <br>
                                        <br>
                                        <button id="downloadBtnGra2" class="btn-info"> Deshacer Zoom </button>
                                </div>
                            </div>
                      </div>
                </div>
            </div>

            <div class="card-header">
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="col-md-11">
                            <canvas id="graficaesttres" data-url="{% url 'appdash:grafica_puntaje_leng' %}"  width="440" height="790" ></canvas>

                            <div style="width: 180px; margin: 0 auto;">
                                    <button id="downloadBtn2" class="btn-info">Descargar como PDF</button>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="col-md-11">
                                <canvas id="graficaestcuatro" data-url="{% url 'appdash:grafica_puntaje_leng' %}"  width="440" height="790" ></canvas>

                           <div style="width: 180px; margin: 0 auto;">
                                    <button id="downloadBtn3" class="btn-info">Descargar como PDF</button>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-header">
            </div>
        </div>

        <div id="graf_B" style="display:none;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                                    <div class="col-md-8">

                                        <canvas id="graficaest_B" data-url="{% url 'appdash:grafica_puntaje_leng' %}"  width="440" height="390" ></canvas>

                                        <div style="width: 180px; margin: 0 auto;"> <!--Permite centrar botones-->
                                                <button id="downloadBtn_B" class="btn-info">Descargar como PDF</button>
                                                <br> <!--salro de reglon-->
                                                <br>
                                                <br>
                                                <button id="downloadBtnGra1_B" class="btn-info" > Deshacer Zoom </button>
                                        </div>
                                    </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="graf_L" style="display:none;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                         <div class="col-md-8">
                                <canvas id="graficaestdos_L" data-url="{% url 'appdash:grafica_puntaje_leng' %}"  width="440" height="390" ></canvas>

                             <div style="width: 180px; margin: 0 auto;">
                                    <button id="downloadBtn1_L" class="btn-info">Descargar como PDF</button>
                                    <br>
                                    <br>
                                    <br>
                                    <button id="downloadBtnGra2_L" class="btn-info"> Deshacer Zoom </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="graf_P" style="display:none;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="col-md-8">
                            <canvas id="graficaesttres_P" data-url="{% url 'appdash:grafica_puntaje_leng' %}"  width="440" height="390" ></canvas>

                            <div style="width: 180px; margin: 0 auto;">
                                    <button id="downloadBtn2_P" class="btn-info">Descargar como PDF</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="graf_R" style="display:none;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="col-md-8">
                                <canvas id="graficaestcuatro_R" data-url="{% url 'appdash:grafica_puntaje_leng' %}"  width="440" height="390" ></canvas>

                           <div style="width: 180px; margin: 0 auto;">
                                    <button id="downloadBtn3_R" class="btn-info">Descargar como PDF</button>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        var downloadBtn = document.getElementById('downloadBtn');
        var downloadBtn1 = document.getElementById('downloadBtn1');
        var downloadBtn2 = document.getElementById('downloadBtn2');
        var downloadBtn3 = document.getElementById('downloadBtn3');
        var downloadBtn_B = document.getElementById('downloadBtn_B');
        var downloadBtn1_L = document.getElementById('downloadBtn1_L');
        var downloadBtn2_P = document.getElementById('downloadBtn2_P');
        var downloadBtn3_R = document.getElementById('downloadBtn3_R');

        var canvas = document.getElementById("graficaest");
        var canvas1 = document.getElementById("graficaestdos");
        var canvas2 = document.getElementById("graficaesttres");
        var canvas3 = document.getElementById("graficaestcuatro");
        var canvas4 = document.getElementById("graficaest_B");
        var canvas5 = document.getElementById("graficaestdos_L");
        var canvas6 = document.getElementById("graficaesttres_P");
        var canvas7 = document.getElementById("graficaestcuatro_R");

        downloadBtn.addEventListener("click", function() {
             var d = new Date();
            var n = d.toISOString();
            // only jpeg is supported by jsPDF
            var imgData = canvas.toDataURL("image/png", 0.5);
             var pdf = new jsPDF();
             pdf.addImage(imgData, "JPEG", 0, 0);
            pdf.save(n+"-graf01.pdf");
        }, false);

        downloadBtn1.addEventListener("click", function() {
             var d = new Date();
            var n = d.toISOString();
            // only jpeg is supported by jsPDF
            var imgData = canvas1.toDataURL("image/png", 1.0);
             var pdf = new jsPDF();
             pdf.addImage(imgData, "JPEG", 0, 0);
            pdf.save(n+"-graf01.pdf");
        }, false);

        downloadBtn2.addEventListener("click", function() {
             var d = new Date();
            var n = d.toISOString();
            // only jpeg is supported by jsPDF
            var imgData = canvas2.toDataURL("image/png", 1.0);
             var pdf = new jsPDF();
             pdf.addImage(imgData, "JPEG", 0, 0);
            pdf.save(n+"-graf01.pdf");
        }, false);

        downloadBtn3.addEventListener("click", function() {
             var d = new Date();
            var n = d.toISOString();
            // only jpeg is supported by jsPDF
            var imgData = canvas3.toDataURL("image/png", 1.0);
             var pdf = new jsPDF();
             pdf.addImage(imgData, "JPEG", 0, 0);
            pdf.save(n+"-graf01.pdf");
        }, false);

        downloadBtn_B.addEventListener("click", function() {
             var d = new Date();
            var n = d.toISOString();
            // only jpeg is supported by jsPDF
            var imgData = canvas4.toDataURL("image/png", 1.0);
             var pdf = new jsPDF();
             pdf.addImage(imgData, "JPEG", 0, 0);
            pdf.save(n+"-graf01.pdf");
        }, false);

        downloadBtn1_L.addEventListener("click", function() {
             var d = new Date();
            var n = d.toISOString();
            // only jpeg is supported by jsPDF
            var imgData = canvas5.toDataURL("image/png", 1.0);
             var pdf = new jsPDF();
             pdf.addImage(imgData, "JPEG", 0, 0);
            pdf.save(n+"-graf01.pdf");
        }, false);

        downloadBtn2_P.addEventListener("click", function() {
             var d = new Date();
            var n = d.toISOString();
            // only jpeg is supported by jsPDF
            var imgData = canvas6.toDataURL("image/png", 1.0);
             var pdf = new jsPDF();
             pdf.addImage(imgData, "JPEG", 0, 0);
            pdf.save(n+"-graf01.pdf");
        }, false);

        downloadBtn3_R.addEventListener("click", function() {
             var d = new Date();
            var n = d.toISOString();
            // only jpeg is supported by jsPDF
            var imgData = canvas7.toDataURL("image/png", 1.0);
             var pdf = new jsPDF();
             pdf.addImage(imgData, "JPEG", 0, 0);
            pdf.save(n+"-graf01.pdf");
        }, false);

    });
</script>

<!-- Funcion Boton Zomm-->
<script>

    downloadBtnGra1.addEventListener("click", function() {
            window.grafica1.resetZoom();
        }, false);

    downloadBtnGra2.addEventListener("click", function() {
            window.grafica2.resetZoom();
        }, false);

    downloadBtnGra1_B.addEventListener("click", function() {
            window.grafica3.resetZoom();
        }, false);

    downloadBtnGra2_L.addEventListener("click", function() {
            window.grafica4.resetZoom();
        }, false);

    //function func_zoom(){
    //window.grafica1.resetZoom();
    //window.grafica2.resetZoom();

    //}
</script>

{% endblock %}

