{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'estudiante/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 20%;">Id</th>
        <th scope="col" style="width: 40%;">Consecutivo</th>
        <th scope="col" style="width: 20%;">Grupo</th>
        <th scope="col" style="width: 20%;">Matricula del grado que pertenece</th>
        <th scope="col" style="width: 70%;">Estrato</th>
        <th scope="col" style="width: 20%;">Grado</th>
        <th scope="col" style="width: 20%;">Sexo</th>
        <th scope="col" style="width: 10%;">Discapacidad Cognitiva</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}
