{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'tiempo/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 20%;">Id</th>
        <th scope="col" style="width: 40%;">Prueba</th>
        <th scope="col" style="width: 20%;">Año</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}
