{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'municipios/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 20%;">Id Ente Territorial</th>
        <th scope="col" style="width: 30%;">Nombre</th>
        <th scope="col" style="width: 30%;">Mun Excluidos Dentro del Ente Territorial</th>
        <th scope="col" style="width: 10%;">Departamento</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}

{% endblock %}