{% extends 'list.html' %}

{% load static %}
{% block head_list %}

    <script src="{% static 'inicio/js/listG.js' %}"></script>
    <!--<script src="{% static 'inicio/js/list.js' %}"></script>-->
    <script src="{% static 'zoom/chartjs-plugin-zoom.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.min.js"></script>

{% endblock %}

{% block content %}
<div  onload="generar();">

    <div class="card card-default" onchange="generar();">
        <div class="card-header">
             <h3 class="card-title">
                <i class="fas fa-tachometer-alt fa-spin fa-2x"></i> <!-- fa-spin nos permite que el icono gire, fa-2x maneja el tamaño-->
                    {{ title }}
             </h3>
        </div>

        <div id = "container" style = "width:100%">
                    <div id ="c1" style = "float: left; width: 20%;">
                        <div>
                                    <div class="container-fluid">
                                        <div class="row" style="width: 180px; margin: 0 auto;">
                                        <i class="fas fa-users fa-2x"></i>
                                            <br> <h4>{{ title1 }} :</h4>
                                                            {% for item in consultas1 %}
                                                                    <tr>
                                                                        {% for i in item %}
                                                                            <td>
                                                                                <h1>{{ i }}</h1>
                                                                            </td>
                                                                        {% endfor %}
                                                                    </tr>
                                                            {% endfor %}
                                        </div>
                                    </div>
                        </div>
                    </div>


                    <div id = "c2" style = "float:left; width: 20%;">
                        <div>
                                    <div class="container-fluid">
                                        <div class="row" style="width: 180px; margin: 0 auto;">
                                        <i class="fas fa-globe-americas fa-2x"></i>
                                            <br> <h4>{{ title2 }} :</h4>
                                                            {% for item in consultas2 %}
                                                                <tr>
                                                                    {% for i in item %}
                                                                        <td>
                                                                            <h1>{{ i }}</h1>
                                                                        </td>
                                                                    {% endfor %}
                                                                </tr>
                                                            {% endfor %}
                                        </div>
                                    </div>
                        </div>
                    </div>

                    <div id = "c3" style = "float:left; width: 20%;">
                         <div>
                                    <div class="container-fluid">
                                        <div class="row" style="width: 180px; margin: 0 auto;">
                                        <i class="fas fa-university fa-2x"></i>
                                            <br> <h4>{{ title3 }} :</h4>
                                                            {% for item in consultas3 %}
                                                                <tr>
                                                                    {% for i in item %}
                                                                        <td>
                                                                            <h1>{{ i }}</h1>
                                                                        </td>
                                                                    {% endfor %}
                                                                </tr>
                                                            {% endfor %}
                                        </div>
                                    </div>
                         </div>
                    </div>

                    <div id = "c4" style = "float:left; width: 20%;">
                        <div >
                                    <div class="container-fluid">
                                        <div class="row" style="width: 180px; margin: 0 auto;">
                                        <i class="fas fa-chalkboard-teacher fa-2x"></i>
                                            <br> <h4>{{ title4 }} :</h4> <h1>{{ num_pruebas }}</h1>
                                        </div>
                                    </div>
                        </div>
                    </div>
        </div>


            <div class="container-fluid">
                    <div class="row" >
                          <div class="col">
                                <div class="col-md-15">

                                                <!--<div  id="con1">
                                                    <div class="container-fluid">
                                                        <div class="row" style="width: 280px; margin: 0 auto;">
                                                        <i class="fas fa-users fa-2x"></i>
                                                        <br> {{ title1 }} :
                                                                            {% for item in consultas1 %}
                                                                                    <tr>
                                                                                        {% for i in item %}
                                                                                            <td>
                                                                                                {{ i }}
                                                                                            </td>
                                                                                        {% endfor %}
                                                                                    </tr>
                                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div  id="con2">
                                                    <div class="container-fluid">
                                                        <div class="row" style="width: 180px; margin: 0 auto;">
                                                        <i class="fas fa-globe-americas fa-2x"></i>
                                                            <br> {{ title2 }} :
                                                                            {% for item in consultas2 %}
                                                                                <tr>
                                                                                    {% for i in item %}
                                                                                        <td>
                                                                                            {{ i }}
                                                                                        </td>
                                                                                    {% endfor %}
                                                                                </tr>
                                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div  id="con3">
                                                    <div class="container-fluid">
                                                        <div class="row" style="width: 180px; margin: 0 auto;">
                                                        <i class="fas fa-university fa-2x"></i>
                                                            <br> {{ title3 }} :
                                                                            {% for item in consultas3 %}
                                                                                <tr>
                                                                                    {% for i in item %}
                                                                                        <td>
                                                                                            {{ i }}
                                                                                        </td>
                                                                                    {% endfor %}
                                                                                </tr>
                                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>


                                                <div  id="con4">
                                                    <div class="container-fluid">
                                                        <div class="row" style="width: 180px; margin: 0 auto;">
                                                        <i class="fas fa-chalkboard-teacher fa-2x"></i>
                                                            <br> {{ title4 }} : {{ num_pruebas }}
                                                        </div>
                                                    </div>
                                                </div>-->




                <div class="container-fluid">
                    <div class="row">
                          <div class="col" id="fondo1">
                            <div class="col-md-11">

                                <canvas id="NumEstuPorMunicipio" data-url="{% url 'appdash:inicio' %}" width="240" height="150"></canvas>

                                <div style="width: 180px; margin: 0 auto;">
                                        <button id="downloadBtn" class="btn-info">Descargar como PDF</button>
                                        <br>
                                        <br>
                                        <br>
                                        <button id="downloadBtnGra1" class="btn-info" > Deshacer Zoom </button>
                                </div>

                            </div>
                          </div>

                          <div class="col" id="fondo2">
                                 <div class="col-md-11">
                                        <canvas id="NumEstuPorMunicipiodos" data-url="{% url 'appdash:inicio' %}" width="240" height="150" ></canvas>

                                     <div style="width: 180px; margin: 0 auto;">
                                            <button id="downloadBtn1" class="btn-info">Descargar como PDF</button>
                                            <br>
                                            <br>
                                            <br>
                                            <button id="downloadBtnGra2" class="btn-info"> Deshacer Zoom </button>
                                    </div>
                                </div>
                          </div>
                    </div>
                </div>

                    <div class="card-header">
                    </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col" id="fondo3">
                            <div class="col-md-11">
                                    <canvas id="NumEstuPorMunicipiotres" data-url="{% url 'appdash:inicio' %}" width="240" height="150" ></canvas>

                               <div style="width: 180px; margin: 0 auto;">
                                        <button id="downloadBtn2" class="btn-info">Descargar como PDF</button>
                               </div>
                            </div>
                        </div>
                        <div class="col" id="fondo4">
                            <div class="col-md-11">
                                    <canvas id="NumEstuPorMunicipiocuatro" data-url="{% url 'appdash:inicio' %}" width="240" height="150" ></canvas>

                                <div style="width: 180px; margin: 0 auto;">
                                        <button id="downloadBtn3" class="btn-info">Descargar como PDF</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-header">
                    </div>
                    <div class="card-header">
                    </div>
                    <br>
                                        <table class="table table-striped table-bordered" id="dataTable" width="100%" cellspacing="0">
                                                    <thead>
                                                    <tr>
                                                        <th scope="col" style="width: 40%;">Años</th>
                                                        <th scope="col" style="width: 40%;">Puntaje Estudiantes Ex-provincia de Obando</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for item in consultas %}
                                                        <tr>
                                                            {% for i in item %}
                                                                <td>
                                                                    {{ i }}
                                                                </td>
                                                            {% endfor %}
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                        </table>
                                        <script>
                                                    $('#dataTable').DataTable({
                                                                "pagingType": "full_numbers"
                                                    });
                                        </script>
                </div>
                <div class="card-header">
                </div>

                                    </div>
                          </div>
                    </div>
            </div>
    </div>
</div>

<script>

var ctx = document.getElementById("chart1")

</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var downloadBtn = document.getElementById('downloadBtn');
        var downloadBtn1 = document.getElementById('downloadBtn1');
        var downloadBtn2 = document.getElementById('downloadBtn2');
        var downloadBtn3 = document.getElementById('downloadBtn3');

        var canvas = document.getElementById("NumEstuPorMunicipio");
        var canvas1 = document.getElementById("NumEstuPorMunicipiodos");
        var canvas2 = document.getElementById("NumEstuPorMunicipiotres");
        var canvas3 = document.getElementById("NumEstuPorMunicipiocuatro");


        downloadBtn.addEventListener("click", function() {
             var d = new Date();
            var n = d.toISOString();
            // only jpeg is supported by jsPDF
            var imgData = canvas.toDataURL("image/png", 0.5);
             var pdf = new jsPDF();
             pdf.addImage(imgData, "JPEG", 0, 0);
            pdf.save(n+"-graf01.pdf");
        }, false);

        downloadBtn1.addEventListener("click", function() {
             var d = new Date();
            var n = d.toISOString();
            // only jpeg is supported by jsPDF
            var imgData = canvas1.toDataURL("image/png", 1.0);
             var pdf = new jsPDF();
             pdf.addImage(imgData, "JPEG", 0, 0);
            pdf.save(n+"-graf01.pdf");
        }, false);

        downloadBtn2.addEventListener("click", function() {
             var d = new Date();
            var n = d.toISOString();
            // only jpeg is supported by jsPDF
            var imgData = canvas2.toDataURL("image/png", 1.0);
             var pdf = new jsPDF();
             pdf.addImage(imgData, "JPEG", 0, 0);
            pdf.save(n+"-graf01.pdf");
        }, false);

        downloadBtn3.addEventListener("click", function() {
             var d = new Date();
            var n = d.toISOString();
            // only jpeg is supported by jsPDF
            var imgData = canvas3.toDataURL("image/png", 1.0);
             var pdf = new jsPDF();
             pdf.addImage(imgData, "JPEG", 0, 0);
            pdf.save(n+"-graf01.pdf");
        }, false);

    });
</script>

<!-- Funcion Boton Zomm-->
<script>

    downloadBtnGra1.addEventListener("click", function() {
            window.grafica1.resetZoom();
        }, false);

    downloadBtnGra2.addEventListener("click", function() {
            window.grafica2.resetZoom();
        }, false);

    //function func_zoom(){
    //window.grafica1.resetZoom();

    //}
</script>

{% endblock %}



