{% extends 'list.html' %}
{% load static %}

{% block columns %}

{% block style %}

{% endblock %}

<form action="" method="POST" enctype="multipart/form-data">
    <!--{% if request.user.is_authenticated %}-->
                    <div align="center">
                        <input type="file" id="boton_bd" name="boton_bd"/>
                    </div>

                    <!--Este IF Muesta un Mensaje que viene desde la Vista si el Archivo se Cargo o no Correctamente-->
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <center>
                          <h2 style="color:rgb(0,176,80);" {% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }}</h2>
                        </center>
                        {% endfor %}
                    </ul>
                    {% endif %}

                    <br>

                    <center>
                        <select id="boton" name="boton" class="boton_1">

                            <option> Selecciona Separador del Archivo.txt a Subir</option>
                            <option value=";">;</option>
                            <option value="/">/</option>
                            <option value="|">|</option>
                            <option value="¬">¬</option>
                            <option value="_">_</option>
                            <option value=",">,</option>
                        </select >

                        <input type="submit" value="Enviar" class="boton_1" />

                        <input type="reset"  value="Limpiar" class="boton_1" />

                    </center>

                    <div class="card-header">
                    </div>

                    {% for message in messages %}
                      <p id="messages">{{ message }}</p>
                    {% endfor %}

    <!--{% else %}
                    <a href="{% url 'logout' %}" class="nav-link">
                      <i class="fas fa-sign-in-alt"></i>&nbsp; Login Admin
                    </a>
    {% endif %} -->

</form>

<div class="progress">
  <div id="bar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
    <span class="sr-only">0% Complete</span>
  </div>
</div>
<div id="cont1"></div>

<script>
  function progress() {


      var men = document.getElementById("messages");
      if (men != null){
          document.getElementById("messages").textContent = ' ';
      }
      var menvalue = "Vacio"
      if (men != null || men != ' ') {
          menvalue = men.innerText;
      }
      var progreso = 0;
      var idIterval = setInterval(function () {
          // Aumento en 10 el progeso
          if (progreso < 90){
              progreso += 10;
          }

          if (progreso >=1 && progreso < 20) {
             document.getElementById("cont1").innerText = 'Subiendo...';
          }
          if (progreso >= 20 && progreso < 40) {
             document.getElementById("cont1").innerText='Filtrando...';
          }
          if (progreso >= 40 && progreso <60) {
             document.getElementById("cont1").innerText='Limpiando...';
          }
          if (progreso >= 60 && progreso <80) {
             document.getElementById("cont1").innerText='Transformando...';
          }
          if (progreso >= 80 && progreso <90) {
             document.getElementById("cont1").innerText='Eliminando...';
          }
          //Si llegó a 100 elimino el interval
          if (progreso == 90) {
              $('#bar').css('width', progreso + '%');
              progreso = 90;
              $('#bar').css('width', progreso + '%');
              if(menvalue == 'Carga de Archivo Exitoso!') {
                  progreso = 100;
                  $('#bar').css('width', progreso + '%');
                  document.getElementById("cont1").innerText = 'Completado!';
                  clearInterval(idIterval);
              }
              else{
                  progreso = 90;
                  $('#bar').css('width', progreso + '%');
              }
          }
          $('#bar').css('width', progreso + '%');
      }, 10000);
  }
</script>



{% endblock %}

{% block rows %}

{% endblock %}
