{% extends 'list.html' %}

{% load static %}
{% block head_list %}

    <script src="{% static 'Boxplot/js/listG.js' %}"></script>
    <!--<script src="{% static 'Boxplot/js/list.js' %}"></script>-->
    <!--<script src="{% static 'Boxplot/js/listM.js' %}"></script>-->
    <script src="{% static 'zoom/chartjs-plugin-zoom.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.min.js"></script>

{% endblock %}
{% block content %}



<div  onload="generar();">

    <div class="card card-default" onchange="generar();">
        <div class="card-header">
             <h3 class="card-title">
                <i class="fas fa-tachometer-alt fa-spin fa-2x"></i> <!-- fa-spin nos permite que el icono gire, fa-2x maneja el tamaño-->
                    {{ title }}
                    <br>
                    <br>
                    {{ title1 }}
             </h3>
        </div>

        <div>
<form method="get" action="{% url 'appdash:boxplot' %}" id="form">

         <div class="row">

                <div class="col" style="width: 180px; margin: 0 auto;">

                    <label for="exampleFormControlSelect1">Años</label>
                    <select id="anios" name="anios" class="boton_1 col-md-8 select2">
                        <option>Seleccione una Opcion</option>
                        <option>2014</option>
                        <option>2015</option>
                        <option>2016</option>
                        <option>2017</option>
                    </select>


                </div>





             <div class="col" style="width: 180px; margin: 0 auto;">
                <center>
                        <br>
                        <br>
                    <button type="submit" class="btn">Mostrar Grafica</button>
                </center>
             </div>
         </div>

</form>

</div>

            <div class="container-fluid">
                    <div class="row" >
                          <div class="col">
                                <div class="col-md-15">

                    <div class="card-header">
                    </div>
                    <div class="card-header">
                    </div>
                    <br>
                            <div id="graf_a" style="display:none;">
                                    <div class="container-fluid">
                                    <div class="row">

                                            <div class="col-md-11">

                                                    <canvas id="NumEstuPorMunicipiocinco" data-url="{% url 'appdash:boxplot' %}" ></canvas>

                                            </div>

                                    </div>
                                    </div>
                            </div>

                              <div id="graf_b" style="display:none;">
                                    <div class="container-fluid">
                                    <div class="row">

                                            <div class="col-md-11">

                                                    <canvas id="PunEstuParaMate" data-url="{% url 'appdash:boxplot' %}" ></canvas>

                                            </div>

                                    </div>
                                    </div>
                              </div>

                              <div id="graf_c" style="display:none;">
                                    <div class="container-fluid">
                                    <div class="row">

                                            <div class="col-md-11">

                                                    <canvas id="PunEstuParaCien" data-url="{% url 'appdash:boxplot' %}" ></canvas>

                                            </div>

                                    </div>
                                    </div>
                              </div>

                              <div id="graf_d" style="display:none;">
                                    <div class="container-fluid">
                                    <div class="row">

                                            <div class="col-md-11">

                                                    <canvas id="PunEstuParaComp" data-url="{% url 'appdash:boxplot' %}" ></canvas>

                                            </div>

                                    </div>
                                    </div>
                              </div>

                    <div class="card-header">
                    </div>
                    <div class="card-header">
                    </div>
                    <br>

                      <!--              <h1>   Boxplot   </h1>
                                    <div class="col-md-11" ><img src="{% static 'inicio/js/Plot generated using Matplotlib.png' %}" class="img-responsive" width="740" height="450"/></div> --> <!--asi pegamos una imagen colocamos la ruta de la imagen y ademas cargamos al inicio del archivo stactic  asi:  {% load static %} -->


                    <br>
                    <!--                <h1>   Biplot   </h1>
                                    <div class="col-md-11" ><img src="{% static 'Boxplot/js/Plot generated using Matplotlib Nueva.png' %}" class="img-responsive" width="740" height="450"/></div> -->     <!-- asi pegamos una imagen colocamos la ruta de la imagen y ademas cargamos al inicio del archivo stactic  asi:  {% load static %} -->



                                    </div>


                          </div>
                    </div>
            </div>
    </div>
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript" src="https://unpkg.com/@sgratzl/chartjs-chart-boxplot@3.6.0/build/index.umd.min.js"></script>
    <script>
    // setup

    </script>


<script>

var ctx = document.getElementById("chart1")

</script>

{% endblock %}



