{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'pruebas/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 10%;">Id Prueba</th>
        <th scope="col" style="width: 25%;">Prueba Estudiante Consecutivo</th>
        <th scope="col" style="width: 15%;">Tiene Copia en Lenguaje</th>
        <th scope="col" style="width: 20%;">Tiene Copia en Matematicas</th>
        <th scope="col" style="width: 20%;">Tiene Copia en Ciencias Naturales</th>
        <th scope="col" style="width: 20%;">Tiene Copia en Competencias</th>
        <th scope="col" style="width: 15%;">Desempeño en Lenguaje</th>
        <th scope="col" style="width: 20%;">Desempeño en Matematicas</th>
        <th scope="col" style="width: 20%;">Desempeño en Ciencias Naturales</th>
        <th scope="col" style="width: 20%;">Desempeño en Competencias</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}

{% endblock %}