{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'instituciones/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 20%;">Id</th>
        <th scope="col" style="width: 20%;">Codigo Dane</th>
        <th scope="col" style="width: 50%;">Municipio</th>
        <th scope="col" style="width: 10%;">IdEnte</th>
        <th scope="col" style="width: 70%;">Nombre</th>
        <th scope="col" style="width: 20%;">Zona</th>
        <th scope="col" style="width: 20%;">Sector</th>
        <th scope="col" style="width: 10%;">Tipo Establecimiento</th>
        <th scope="col" style="width: 5%;">Calendario</th>
        <th scope="col" style="width: 3%;">Nivel Economico</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}

{% endblock %}