{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'resultados/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 20%;">IdEstu</th>
        <th scope="col" style="width: 30%;">Municipio Id Ente Territorial</th>
        <th scope="col" style="width: 10%;">Id Inst</th>
        <th scope="col" style="width: 10%;">Id Prueba</th>
        <th scope="col" style="width: 10%;">Id Tiempo</th>
        <th scope="col" style="width: 10%;">Consecutivo Estudiante</th>
        <th scope="col" style="width: 10%;">NumEstu</th>
        <th scope="col" style="width: 10%;">Puntaje Lenguaje</th>
        <th scope="col" style="width: 10%;">Puntaje Mate</th>
        <th scope="col" style="width: 10%;">Puntaje Ciencias</th>
        <th scope="col" style="width: 10%;">Puntaje Competencia</th>
        <th scope="col" style="width: 10%;">N° Estudiantes Prueba Legua</th>
        <th scope="col" style="width: 10%;">N° Estudiantes Prueba Mate</th>
        <th scope="col" style="width: 10%;">N° Estudiantes Prueba Ciencias</th>
        <th scope="col" style="width: 10%;">N° Estudiantes Prueba Competencias</th>
        <th scope="col" style="width: 10%;">Anio</th>
        <th scope="col" style="width: 10%;">Promedio</th>
        <th scope="col" style="width: 10%;">Desempeño</th>
    </tr>
{% endblock %}

{% block rows %}

{% endblock %}

{% block javascript %}

{% endblock %}