{% extends 'list.html' %}

{% load static %}
{% block head_list %}

    <script src="{% static 'inicio/js/listG.js' %}"></script>
    <!--<script src="{% static 'inicio/js/list.js' %}"></script>-->
    <script src="{% static 'zoom/chartjs-plugin-zoom.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.min.js"></script>

{% endblock %}

{% block content %}
<div  onload="generar();">
    <div class="card card-default" onchange="generar();">
        <div class="container-fluid">
                <div class="row">
                      <div class="col" id="fondo2">
                        <div class="col-md-11">
                <center class="card-header">
                             <h3 class="card-title">
                                 <h1 align="center">
                                         <i class="fas fa-sitemap fa-spin fa-2x"></i> <!-- fa-spin nos permite que el icono gire, fa-2x maneja el tamaño-->
                                 </h1>
                                 <br>
                                 <h1 align="center">
                                    {{ title }}
                                 </h1>
                             </h3>

                             <br>
                             <h4 align="center">
                                 {{ integrante1 }} <br>  {{ celularInt1 }} <br> <h6>{{ correoInt1 }}</h6>
                             </h4>
                             <br>
                             <br>
                             <h4 align="center">
                                 {{ integrante2 }} <br> {{ celularInt2 }} <br> <h6>{{ correoInt2 }}</h6>
                             </h4>

                             <center>
                                <img src="{% static 'lib/adminlte-3.0.5/img/Logo3.png' %}" class="img-circle elevation-2" alt="User Image" style="width: 100px; margin: 0 auto;">
                                <img src="{% static 'lib/adminlte-3.0.5/img/grias.png' %}" class="img-circle elevation-2" alt="User Image" style="width: 100px; margin: 0 auto;">
                                <img src="{% static 'lib/adminlte-3.0.5/img/ude.jpg' %}" class="img-circle elevation-2" alt="User Image" style="width: 100px; margin: 0 auto;">
                                <img src="{% static 'lib/adminlte-3.0.5/img/django.png' %}" class="img-circle elevation-2" alt="User Image" style="width: 100px; margin: 0 auto;">
                                <img src="{% static 'lib/adminlte-3.0.5/img/python.jpg' %}" class="img-circle elevation-2" alt="User Image" style="width: 100px; margin: 0 auto;">
                             </center>

                             <div class="card-header">
                             </div>
                             <div class="card-header">
                             </div>

                             <br>
                             <br>
                             <h1 align="center">
                                  {{ title1 }}
                             </h1>

                             <h4 align="center">
                                 {{ director }} <br> <h6>{{ correodir }}</h6>
                             </h4>

                             <div class="card-header">
                             </div>
                             <div class="card-header">
                             </div>
                </center>
                        </div>
                        </div>
                        </div>
                        </div>
    </div>
</div>

{% endblock %}



