{% extends 'list.html' %}

{% load static %}
{% block head_list %}

    <script src="{% static 'NumEstuPorMuni/js/listG.js' %}"></script>
    <script src="{% static 'NumEstuPorMuni/js/list.js' %}"></script>
    <script src="{% static 'zoom/chartjs-plugin-zoom.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.min.js"></script>

{% endblock %}

{% block content %}
<div  onload="generar();">

    <div class="card card-default" onchange="generar();">

        <center>

             <select id="boton" name="boton" class="boton_1">
                 <option selected value="sii"> Elige una Opción </option>
                 <optgroup label="OPCIONES DE GRAFICAS">
                     <option value="Grafica">Graficas Multiples</option>
                     <option value="Grafica_B" >Grafica Barras</option>
                     <option value="Grafica_L" >Grafica Linea</option>
                     <option value="Grafica_R" >Grafica Radar</option>
                     <option value="Grafica_D" >Grafica Dona</option>
                 </optgroup>
                 <optgroup label="OPCIONES DE DATOS">
                     <option value="Tabla" >Tabla</option>
                 </optgroup>
            </select >

        </center>

        <div class="card-header">
             <h3 class="card-title">
                <i class="fas fa-search"></i>
                    {{ title }}
             </h3>
        </div>
        <div id="si">
            <center><h4> Bienvenido Selecciona en el Boton Grafica que Deseas Visualizar </h4></center>
        </div>
    <!--<body bgcolor="#124456" text="#9bf3ea">-->
        <div class="card-body" id="tab" style="display:none;">
            <table class="table table-striped table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th scope="col" style="width: 40%;">Nombre Municipio</th>
                    <th scope="col" style="width: 40%;">Año</th>
                    <th scope="col" style="width: 40%;">Numero de Estudiantes</th>
                </tr>
                </thead>
                <tbody>
                    {% for item in consultas %}
                    <tr>
                        {% for i in item %}
                            <td>
                                {{ i }}
                            </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <script>
                        $('#dataTable').DataTable({
                                    "pagingType": "full_numbers"
                        });
            </script>
        </div>

        <div id="graf" style="display:none;">
            <div class="container-fluid">
                <div class="row">
                      <div class="col">
                        <div class="col-md-11">

                            <canvas id="NumEstuPorMunicipio" data-url="{% url 'appdash:Num_Estu_Por_Municipio' %}" width="440" height="390"></canvas>

                            <div style="width: 180px; margin: 0 auto;">
                                    <button id="downloadBtn" class="btn-info">Descargar como PDF</button>
                                    <br>
                                    <br>
                                    <br>
                                    <button id="downloadBtnGra1" class="btn-info" > Deshacer Zoom </button>
                            </div>

                        </div>
                      </div>

                      <div class="col">
                             <div class="col-md-11">
                                    <canvas id="NumEstuPorMunicipiodos" data-url="{% url 'appdash:Num_Estu_Por_Municipio' %}" width="440" height="390" ></canvas>

                                 <div style="width: 180px; margin: 0 auto;">
                                        <button id="downloadBtn1" class="btn-info">Descargar como PDF</button>
                                        <br>
                                        <br>
                                        <br>
                                        <button id="downloadBtnGra2" class="btn-info"> Deshacer Zoom </button>
                                </div>
                            </div>
                      </div>
                </div>
            </div>
            <!--<div class="container" id="chart">
                <center>
                    <button id="downloadBtn" class="btn btn-info">Descargar chart como PDF</button>
                </center>
            </div>
            <div class="container">
                <center>
                    <button id="downloadBtnGra1" class="btn btn-info" onclick="func_zoom()" > Deshacer Zoom </button>
                </center>
            </div>   -->

            <!--<div class="card-header">
            </div> -->
                <!--<div class="col-md-8">
                        <canvas id="NumEstuPorMunicipiodos" data-url="{% url 'appdash:Num_Estu_Por_Municipio' %}"></canvas>
                </div>
                <center>
                    <button id="downloadBtn1" class="btn btn-info">Descargar chart como PDF</button>
                </center>   -->
                <div class="card-header">
                </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <div class="col-md-11">
                                <canvas id="NumEstuPorMunicipiotres" data-url="{% url 'appdash:Num_Estu_Por_Municipio' %}" width="440" height="790" ></canvas>

                           <div style="width: 180px; margin: 0 auto;">
                                    <button id="downloadBtn2" class="btn-info">Descargar como PDF</button>
                           </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="col-md-11">
                                <canvas id="NumEstuPorMunicipiocuatro" data-url="{% url 'appdash:Num_Estu_Por_Municipio' %}" width="440" height="790" ></canvas>

                            <div style="width: 180px; margin: 0 auto;">
                                    <button id="downloadBtn3" class="btn-info">Descargar como PDF</button>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <div class="card-header">
        </div>

    </div>

    <div id="graf_B" style="display:none;">
        <div class="container-fluid">
                <div class="center">

                        <div class="col-md-8">

                            <canvas id="NumEstuPorMunicipio_B" data-url="{% url 'appdash:Num_Estu_Por_Municipio' %}" width="270" height="200"></canvas>

                            <div style="width: 180px; margin: 0 auto;">
                                <button id="downloadBtn_B" class="btn-info">Descargar como PDF</button>
                                    <br>
                                    <br>
                                    <br>
                                <button id="downloadBtnGra1_B" class="btn-info" > Deshacer Zoom </button>
                            </div>

                        </div>

                </div>
            </div>
    </div>

    <div id="graf_L" style="display:none;">
            <div class="container-fluid">
                <div class="center">
                             <div class="col-md-8">
                                    <canvas id="NumEstuPorMunicipiodos_L" data-url="{% url 'appdash:Num_Estu_Por_Municipio' %}" width="270" height="200" ></canvas>

                                 <div style="width: 180px; margin: 0 auto;">
                                        <button id="downloadBtn1_L" class="btn-info">Descargar como PDF</button>
                                        <br>
                                        <br>
                                        <br>
                                        <button id="downloadBtnGra2_L" class="btn-info"> Deshacer Zoom </button>
                                </div>
                            </div>
                </div>
            </div>
    </div>

    <div id="graf_R" style="display:none;">
        <div class="container-fluid">
                <div class="center">
                    <div class="col">
                                        <div class="col-md-10">
                                                <canvas id="NumEstuPorMunicipiotres_R" data-url="{% url 'appdash:Num_Estu_Por_Municipio' %}" width="200" height="100" ></canvas>

                                           <div style="width: 180px; margin: 0 auto;">
                                                    <button id="downloadBtn2_R" class="btn-info">Descargar como PDF</button>
                                           </div>
                                        </div>
                    </div>
                </div>
        </div>
    </div>

     <div id="graf_D" style="display:none;">
        <div class="container-fluid">
                <div class="center">
                    <div class="col">
                        <div class="col-md-9">
                                <canvas id="NumEstuPorMunicipiocuatro_D" data-url="{% url 'appdash:Num_Estu_Por_Municipio' %}" width="270" height="200" ></canvas>

                            <div style="width: 180px; margin: 0 auto;">
                                    <button id="downloadBtn3_D" class="btn-info">Descargar como PDF</button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
     </div>


</div>
</div>
<canvas id="chart1" width="400" height="100"></canvas>
<script>

var ctx = document.getElementById("chart1")

</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var downloadBtn = document.getElementById('downloadBtn');
        var downloadBtn1 = document.getElementById('downloadBtn1');
        var downloadBtn2 = document.getElementById('downloadBtn2');
        var downloadBtn3 = document.getElementById('downloadBtn3');
        var downloadBtn_B = document.getElementById('downloadBtn_B');
        var downloadBtn1_L = document.getElementById('downloadBtn1_L');
        var downloadBtn2_R = document.getElementById('downloadBtn2_R');
        var downloadBtn3_D = document.getElementById('downloadBtn3_D');

        var canvas = document.getElementById("NumEstuPorMunicipio");
        var canvas1 = document.getElementById("NumEstuPorMunicipiodos");
        var canvas2 = document.getElementById("NumEstuPorMunicipiotres");
        var canvas3 = document.getElementById("NumEstuPorMunicipiocuatro");
        var canvas_B = document.getElementById("NumEstuPorMunicipio_B");
        var canvas_L = document.getElementById("NumEstuPorMunicipiodos_L");
        var canvas_R = document.getElementById("NumEstuPorMunicipiotres_R");
        var canvas_D = document.getElementById("NumEstuPorMunicipiocuatro_D");

        downloadBtn.addEventListener("click", function() {
             var d = new Date();
            var n = d.toISOString();
            // only jpeg is supported by jsPDF
            var imgData = canvas.toDataURL("image/png", 0.5);
             var pdf = new jsPDF();
             pdf.addImage(imgData, "JPEG", 0, 0);
            pdf.save(n+"-graf01.pdf");
        }, false);

        downloadBtn1.addEventListener("click", function() {
             var d = new Date();
            var n = d.toISOString();
            // only jpeg is supported by jsPDF
            var imgData = canvas1.toDataURL("image/png", 1.0);
             var pdf = new jsPDF();
             pdf.addImage(imgData, "JPEG", 0, 0);
            pdf.save(n+"-graf01.pdf");
        }, false);

        downloadBtn2.addEventListener("click", function() {
             var d = new Date();
            var n = d.toISOString();
            // only jpeg is supported by jsPDF
            var imgData = canvas2.toDataURL("image/png", 1.0);
             var pdf = new jsPDF();
             pdf.addImage(imgData, "JPEG", 0, 0);
            pdf.save(n+"-graf01.pdf");
        }, false);

        downloadBtn3.addEventListener("click", function() {
             var d = new Date();
            var n = d.toISOString();
            // only jpeg is supported by jsPDF
            var imgData = canvas3.toDataURL("image/png", 1.0);
             var pdf = new jsPDF();
             pdf.addImage(imgData, "JPEG", 0, 0);
            pdf.save(n+"-graf01.pdf");
        }, false);

        downloadBtn_B.addEventListener("click", function() {
             var d = new Date();
            var n = d.toISOString();
            // only jpeg is supported by jsPDF
            var imgData = canvas_B.toDataURL("image/png", 1.0);
             var pdf = new jsPDF();
             pdf.addImage(imgData, "JPEG", 0, 0);
            pdf.save(n+"-graf01.pdf");
        }, false);

        downloadBtn1_L.addEventListener("click", function() {
             var d = new Date();
            var n = d.toISOString();
            // only jpeg is supported by jsPDF
            var imgData = canvas_L.toDataURL("image/png", 1.0);
             var pdf = new jsPDF();
             pdf.addImage(imgData, "JPEG", 0, 0);
            pdf.save(n+"-graf01.pdf");
        }, false);

        downloadBtn2_R.addEventListener("click", function() {
             var d = new Date();
            var n = d.toISOString();
            // only jpeg is supported by jsPDF
            var imgData = canvas_R.toDataURL("image/png", 1.0);
             var pdf = new jsPDF();
             pdf.addImage(imgData, "JPEG", 0, 0);
            pdf.save(n+"-graf01.pdf");
        }, false);

        downloadBtn3_D.addEventListener("click", function() {
             var d = new Date();
            var n = d.toISOString();
            // only jpeg is supported by jsPDF
            var imgData = canvas_D.toDataURL("image/png", 1.0);
             var pdf = new jsPDF();
             pdf.addImage(imgData, "JPEG", 0, 0);
            pdf.save(n+"-graf01.pdf");
        }, false);

    });
</script>

<!-- Funcion Boton Zomm-->
<script>

    downloadBtnGra1.addEventListener("click", function() {
            window.grafica1.resetZoom();
        }, false);

    downloadBtnGra2.addEventListener("click", function() {
            window.grafica2.resetZoom();
        }, false);

    downloadBtnGra1_B.addEventListener("click", function() {
            window.grafica1_B.resetZoom();
        }, false);

    downloadBtnGra2_L.addEventListener("click", function() {
            window.grafica2_L.resetZoom();
        }, false);

    //function func_zoom(){
    //window.grafica1.resetZoom();

    //}
</script>



<!--<script>

function generar(){
                var tabla = document.getElementById("tab")
                var grafica = document.getElementById("graf")
                var se = document.getElementById("boton").value

                if (se == "Grafica")
                    {
                        grafica.style.display='block'
                        tabla.style.display='none'
                    }
                    else
                    {
                        if (se == "Tabla")
                        {
                            grafica.style.display='none'
                            tabla.style.display='block'
                        }
                    }
}
</script>-->

{% endblock %}



