<!DOCTYPE html>
{% load static %}
{% load widget_tweaks %}
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ title }}</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'lib/adminlte-3.0.5/plugins/fontawesome-free/css/all.min.css' %}"/>
  <!-- Ionicons -->
  <link rel="stylesheet" href="{% static 'lib/adminlte-3.0.5/css/adminlte.min.css' %}"/>
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet"/>
  <!-- Sweetalert2 -->
  <script src="{% static 'lib/sweetalert2-9.10.0/sweetalert2.all.min.js' %}"></script>


</head>
<body class="hold-transition login-page">
<div class="login-box">
  <!--<div class="login-logo">
    <a href="#"><b> Saber5 Expo</b> BI</a>
  </div>
  -->
  <!-- /.login-logo -->
  <div class="card" >
    <div class="card-body login-card-body">
      <p class="card-title">Inicie Sesión con sus Credenciales Admin</p>
      <center>
        <img src="{% static 'lib/adminlte-3.0.5/img/Logo3.png' %}" class="img-circle elevation-2" alt="User Image" style="width: 180px; margin: 0 auto;">
      </center>
      <br>
      <form action="." method="post">
        <input type="hidden" name="next" value="{{ next }}" >
        {% csrf_token %}
        <div class="input-group mb-3">
          {{ form.username|add_class:'form-control'|attr:'autocomplete:off'|attr:'placeholder:Ingrese su Username' }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          {{ form.password|add_class:'form-control'|attr:'autocomplete:off'|attr:'placeholder:Ingrese su Password' }}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">

            <button type="submit" class="btn btn-primary btn-block"><i class="fas fa-sign-in-alt"></i>  Sesión Admin</button>

          </div>
        </div>

        <hr style="border-color:green;">
            <a href="{% url 'appdash:inicio_list' %}" class="nav-link">
              &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <i class="fas fa-user"></i> Sesión Invitado
            </a>
        <hr style="border-color:green;">



      </form>
    </div>
    <!-- /.login-card-body -->
  </div>

  <script type="application/javascript">
        {% if form.errors %}
            var errors = '';
                            {% for field in form %}
                            {% for error in field.errors %}
                                         errors+='{{ error }}\n ';
                            {% endfor %}
                            {% endfor %}
                            Swal.fire({
                                title: 'Error!',
                                text: 'errors',
                                icon: 'error'
                            });
    {% endif %}
  </script>

</div>
<!-- jQuery -->
<script src="{% static 'lib/adminlte-3.0.5/plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'lib/adminlte-3.0.5/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'lib/adminlte-3.0.5/js/adminlte.min.js' %}"></script>

</body>
</html>
