{% extends 'list.html' %}

{% load static %}

{% block head %}
    <script src="{% static 'lib/highcharts-8.1.2/highcharts.js' %}"></script>
    <script src="{% static 'lib/highcharts-8.1.2/modules/exporting.js' %}"></script>
    <script src="{% static 'lib/highcharts-8.1.2/modules/export-data.js' %}"></script>
    <script src="{% static 'lib/highcharts-8.1.2/modules/accessibility.js' %}"></script>
{% endblock %}

{% block content%}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div id="container"></div>
            </div>
        </div>
    </div>

<script type="application/javascript">




    Highcharts.chart('container', {
    chart: {
        type: 'column'
    },
    title: {
        text: 'Monthly Average Rainfall'
    },
    subtitle: {
        text: 'Source: WorldClimate.com'
    },
    xAxis: {
        categories: [
            'Aldana',
            'Contadero',
            'Cordoba',
            'Cuaspud',
            'Cumbal',
            'Funes',
            'Guachucal',
            'Gualmatan',
            'Iles',
            'Ipiales',
            'Potosi',
            'Puerres',
            'Pupiales'
        ],
        crosshair: true
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Rainfall (mm)'
        }
    },
    tooltip: {
        headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y:.1f} mm</b></td></tr>',
        footerFormat: '</table>',
        shared: true,
        useHTML: true
    },
    plotOptions: {
        column: {
            pointPadding: 0.2,
            borderWidth: 0
        }
    },
    series: [{
        name: 'Tokyo',
        data: [49.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4, 60.0]

    }]
});

</script>

{% endblock %}

<!--    function get_graph_result_mun_lenguaje(){

        $.ajax:({
                url: window.location.pathname,
                type: 'POST',
                data: {
                    'action': 'get_graph_result_mun_lenguaje'
                },
                dataType: 'json',
            }).done(function(data) {
                    if(!data.hasOwnProperty('error')){
                        console.log(data);
                        return false;
                    }
                    message.error(data.error);
            }).fail(function(jqXHR, textStatus, errorThrown) {
                    alert(textStatus + ': ' + errorThrown);
            }).always(function(data){

         });
    }

    $(function() {
            get_graph_result_mun_lenguaje();
    });
-->
