{% extends 'list.html' %}

{% load static %}
{% block head_list %}

    <!-- <script src="{% static 'Boxplot/js/listG.js' %}"></script>  -->
    <script src="{% static 'zoom/chartjs-plugin-zoom.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.min.js"></script>

{% endblock %}
{% block content %}

<div  onload="generar();">

    <div class="card card-default" onchange="generar();">
        <div class="card-header">
             <h3 class="card-title">
                <i class="fas fa-tachometer-alt fa-spin fa-2x"></i> <!-- fa-spin nos permite que el icono gire, fa-2x maneja el tamaño-->
                    <h4>{{ title }}</h4>
                    <br>
             </h3>
        </div>

        <div>

</div>

            <div class="container-fluid">
                    <div class="row" >
                          <div class="col">
                                <div class="col-md-15">

                                        <div class="card-header">
                                            <center>
                                                <h1>{{ title1 }}</h1>
                                            </center>
                                        </div>

                                        <!-- La grafica que se muestra aqui esta en la vista Boxplot/views.py se encuentra el codigo fuera de las funciones trabajada con matplolib-->
                                        <div class=class="container" ><img src="{% static 'Boxplot/js/Plot generated using Matplotlib Dos.png' %}" class="img-responsive" width="100%"/></div> <!-- asi pegamos una imagen colocamos la ruta de la imagen y ademas cargamos al inicio del archivo stactic  asi:  {% load static %} -->

                                        <div class="card-header">
                                        </div>
                                        <div class="card-header">
                                            <center>
                                                <h1>{{ title2 }}</h1>
                                            </center>
                                        </div>
                                        <div class="card-header">
                                        </div>

                                        <!-- La grafica que se muestra aqui esta en la vista Boxplot/views.py se encuentra el codigo fuera de las funciones trabajada con matplolib-->
                                        <div class="container" ><img src="{% static 'Boxplot/js/Plot generated using Matplotlib Nueva 3.png' %}" class="img-responsive" width="100%"/></div> <!-- asi pegamos una imagen colocamos la ruta de la imagen y ademas cargamos al inicio del archivo stactic  asi:  {% load static %} -->

                                        <div class="card-header">
                                        </div>
                                        <div class="card-header">
                                            <center>
                                                <h1>{{ title3 }}</h1>
                                            </center>
                                        </div>
                                        <div class="card-header">
                                        </div>

                                        <!-- La grafica que se muestra aqui esta en la vista Boxplot/views.py se encuentra el codigo fuera de las funciones trabajada con matplolib-->
                                        <div class="container" ><img src="{% static 'Boxplot/js/Plot generated using Matplotlib Nueva 4.png' %}" class="img-responsive" width="100%"/></div> <!-- asi pegamos una imagen colocamos la ruta de la imagen y ademas cargamos al inicio del archivo stactic  asi:  {% load static %} -->

                                        <div class="card-header">
                                        </div>
                                        <div class="card-header">
                                            <center>
                                                <h1>{{ title4 }}</h1>
                                            </center>
                                        </div>
                                        <div class="card-header">
                                        </div>

                                        <!-- La grafica que se muestra aqui esta en la vista Boxplot/views.py se encuentra el codigo fuera de las funciones trabajada con matplolib-->
                                        <div class="container" ><img src="{% static 'Boxplot/js/Plot generated using Matplotlib Nueva 5.png' %}" class="img-responsive" width="100%"/></div> <!-- asi pegamos una imagen colocamos la ruta de la imagen y ademas cargamos al inicio del archivo stactic  asi:  {% load static %} -->

                                        <div class="card-header">
                                        </div>
                                        <div class="card-header">
                                            <center>
                                                <h1>{{ title5 }}</h1>
                                            </center>
                                        </div>
                                        <div class="card-header">
                                        </div>

                                        <!-- La grafica que se muestra aqui esta en la vista Boxplot/views.py se encuentra el codigo fuera de las funciones trabajada con matplolib-->
                                        <div class="container" ><img src="{% static 'Boxplot/js/Plot generated using Matplotlib Nueva.png' %}" class="img-responsive" width="100%"/></div> <!-- asi pegamos una imagen colocamos la ruta de la imagen y ademas cargamos al inicio del archivo stactic  asi:  {% load static %} -->


                                    </div>


                          </div>
                    </div>
            </div>
    </div>
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript" src="https://unpkg.com/@sgratzl/chartjs-chart-boxplot@3.6.0/build/index.umd.min.js"></script>

{% endblock %}



