{% extends "home.html" %}
{% block body %}
    <body class="hold-transition sidebar-collapse layout-top-nav">
    <div class="wrapper">
        <!-- Header -->
        {% include 'header.html' %}
        {% include 'menu.html' %}
        <!--  Content  -->
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark"> <small>PRUEBAS SABER 5 EX-PROVINCIA DE OBANDO</small></h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="{% url 'appdash:inicio_list' %}">Inicio</a></li>
                                <li class="breadcrumb-item"><a href="{{ list_url }}">{{ entity }}</a></li>  <!--entity variable con el nombre de la tabla en que se encuentra esta configurada en cada una de las  vistas views.py-->
                                <!-- list_url esta configurado en views.py -->
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="container">
                {% block content %}

                {% endblock %}
                </div>
            </div>
        </div>
    <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-6">
        <h6 align="center">
                Equipo de Desarrollo
        </h6>
        <br>
        <p align="center">
            Dario Ceballos Rosero <br>  3178102840 <br>  daridr8761@gmail.com
        </p>
        <p align="center">
            Alexander Santander Arias <br> 3182952346 <br> dasa.deidara@hotmail.com
        </p>
        <div class="card-header">
        </div>

        <br>
        <h6 align="center">
            Director de Trabajo de Grado
        </h6>

        <p align="center">
            Phd. Ricardo Timaran Pereira <br> siritimar@gmail.com
        </p>
    </div>
    </aside>
    {% include 'footer.html' %}
    </div>
    <!-- Block JavaScript -->
    {% block javascript %}

    {% endblock %}
    </body>
{% endblock %}
