{% extends 'body.html' %}
{% load widget_tweaks %}

{% block content %}

<form method="post" action=".">
    <!--action es hacia donde se va a ir como se trabaja dentro de la misma url solo se le pone un punto-->
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-trash"></i> <!-- fa-trash icono parte superior izquierda un bote de basura-->
                {{ title }}
            </h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            {% csrf_token %}
            <input type="hidden" name="action" value="{{ action }}">
            {% if form.errors %}
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h5><i class="icon fas fa-ban"></i> ha ocurrido un error al querer guardar un registro</h5>
                <ul>
                    {% for field in form %}
                    {% for error in field.errors %}
                    <li>{{error}}</li>
                    {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <div class="alert alert-danger alert-dismissible">
                  <h5><i class="icon fas fa-ban"></i>  Notificacion!</h5>
                  Estas seguro de eliminar el registro Numero {{object.id_estudiante}}?
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <button type='submit' class="btn btn-primary btn-flat">
                <i class="fas fa-save"></i> Si, Aceptar
            </button>
            <a href="{{ list_url }}" class="btn btn-info btn-flat">
                <i class="fas fa-times"></i> Cancelar
            </a>
        </div>
    </div>
</form>

<script>
    $('form').on('submit', function(e){
        e.preventDefault();
        var parameters = $(this).serializeArray();
        $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: {},
                dataType: 'json'
        }).done(function(data) {
                console.log(data);
                if(!data.hasOwnProperty('error')){
                        location.href = '{{ list_url }}';
                        return false;
                }
                        message_error(data.error);
                }).fail(function(jqXHR, textStatus, errorThrown) {
                            alert(textStatus+': '+errorThrown);
                }).always(function(data) {

         });
    });
</script>
{% endblock %}