<!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
      Ingenieria de Sistemas
    </div>
    <!-- Default to the left -->
    <strong>Link <a href="https://www.udenar.edu.co/ipiales/">Universidad de Nariño</a>.</strong> Ipiales.
  </footer>