{% extends 'body.html' %}
{% load widget_tweaks %}

{% block content %}

<form method="post" action=".">
    <!--action es hacia donde se va a ir como se trabaja dentro de la misma url solo se le pone un punto-->
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">
                {% if action == 'add' %}
                    <i class="fas fa-plus"></i>  <!--icono de agregar nuevo registro en la parte izquierda del formulario de editar create.html-->
                {% else %}
                    <i class="fas fa-edit"></i>  <!--icono de editar en la parte izquierda del formulario de editar -->
                {% endif %}

                {{ title }}
            </h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            {% csrf_token %}
            <input type="hidden" name="action" value="{{ action }}">
            {% if form.errors %}
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h5><i class="icon fas fa-ban"></i> ha ocurrido un error al querer guardar un registro</h5>
                <ul>
                    {% for field in form %}
                    {% for error in field.errors %}
                    <li>{{error}}</li>
                    {% endfor %}
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

            {% for field in form.visible_fields %}
            <div class="form-group">
                <label for="Id">{{ field.label }}:</label>
                {{field|add_class:'form-control'|attr:'autocomplete:off'}}
            </div>
            {% endfor %}
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <button type='submit' class="btn btn-primary btn-flat">
                <i class="fas fa-save"></i> Guardar Registro
            </button>
        </div>
    </div>
</form>
<script>
    {% if form.errors %}
    var errors = '';
                    {% for field in form %}
                    {% for error in field.errors %}
                                 errors+='{{ error }}\n ';
                    {% endfor %}
                    {% endfor %}
                    Swal.fire({
                        title: 'Error!',
                        text: 'errors',
                        icon: 'error'
                    });
    {% endif %}

    $('form').on('submit', function(e){
        e.preventDefault();
        var parameters = $(this).serializeArray();
        $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: parameters,
                dataType: 'json'
        }).done(function(data) {
                console.log(data);
                if(!data.hasOwnProperty('error')){
                        location.href = '{{ list_url }}';
                        return false;
                }
                        message_error(data.error);
                }).fail(function(jqXHR, textStatus, errorThrown) {
                            alert(textStatus+': '+errorThrown);
                }).always(function(data) {

         });
    });

    alert_jqueryconfirm();


</script>
{% endblock %}