{% load static %}
<!-- Navbar -->
  <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
    <div class="container">
      <a href="#" class="navbar-brand">
        <img src="{% static 'lib/adminlte-3.0.5/img/Logo3.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">SABER EXPO BI 5</span>
      </a>

      <button  class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon " ></span>
      </button>

      <div class="collapse navbar-collapse order-3" id="navbarCollapse">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
          </li>
          <li class="nav-item">
            <a href="{% url 'appdash:inicio_list' %}" class="nav-link">Inicio</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'appdash:contacto_list' %}" class="nav-link">Contacto</a>
          </li>
          <li class="nav-item dropdown">
            <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       class="nav-link dropdown-toggle"><i class="fas fa-folder-open"></i> Dimensiones </a>
            <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
              <li><a href="{% url 'appdash:estudiante_list' %}" class="dropdown-item"><i class="fas fa-graduation-cap"></i> Estudiantes</a></li>
                        <li><a href="{% url 'appdash:institucion_list' %}" class="dropdown-item"><i class="fas fa-school"></i></i> Instituciones</a></li>
                        <li><a href="{% url 'appdash:municipio_list' %}" class="dropdown-item"><i class="fas fa-city"></i> Municipios</a></li>
                        <li><a href="{% url 'appdash:prueba_list' %}" class="dropdown-item"><i class="fas fa-file-alt"></i> Pruebas</a></li>
                        <li><a href="{% url 'appdash:tiempo_list' %}" class="dropdown-item"><i class="far fa-calendar-alt"></i> Tiempo</a></li>
                        <li><a href="{% url 'appdash:resultado_list' %}" class="dropdown-item"><i class="fas fa-poll"></i> Resultados</a></li>
              <li class="dropdown-divider"></li>
              <!-- End Level two -->
            </ul>
          </li>
        </ul>
      </div>
      <!-- Right navbar links -->
      <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
        <!-- Sidebar Content -->
        <li class="nav-item">
          <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button"><i
              class="fas fa-th-large"></i></a>
        </li>

        <li class="nav-item has-treeview">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'appdash:BD_list' %}" class="nav-link">
                          <i class="fas fa-user"></i> {{ request.user.username }}
                    </a>
                {% else %}
                    <a href="{% url 'logout' %}" class="nav-link">
                      <i class="fas fa-sign-in-alt"></i>&nbsp; Login
                    </a>
                {% endif %}
          </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">
              <i class="fas fa-power-off" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
      </div>
    </div>
  </nav>

{% block style %}

<style>


    .form__file{
        display: none;
    }

    .form__file-btn{
        background: #5B9BD5;
        width:  10%;
    }

    .file__txt{
        width:  78%;
        padding: 10px;
        font-size: 1.2em;
    }

    .progressBar{
        width: 100%;
        height: 30px;
        margin-top: 20px;
    }


</style>

<!-- aqui con la linea siguiente nos permite cambiar color a botones de las instituciones con el select2
de busqueda junto con un scrip que esta en cada una
de las plantillas junto con las librerias ahi mismo hubicadas
.select2-container--default .select2-selection--single, .select2-selection .select2-selection--single-->

      <style type="text/css">
            .boton_1{
              text-decoration: none;
              padding: 2px;
              padding-left: 15px;
              padding-right: 15px;
              font-family: helvetica;
              font-weight: 500;
              font-size: 15px;
              font-style: italic;
              color: #454545;
              background-color: #5B9BD5;
              border-radius: 30px;
              border: 3px double #3965B5;
            }
            .boton_1:hover{
              opacity: 0.20;
              text-decoration: none;
            }


             .select2-container--default .select2-selection--single, .select2-selection .select2-selection--single{
              text-decoration: none;
              padding: 2px;
              padding-left: 15px;
              padding-right: 15px;
              font-family: helvetica;
              font-weight: 500;
              font-size: 15px;
              font-style: italic;
              color: white;
              background-color: #5B9BD5;
              border-radius: 30px;
              border: 3px double #3965B5;

        }



      </style>

      <style type="text/css">
            .boton{
                  font-size:10px;
                  font-family:Verdana,Helvetica;
                  font-weight:bold;
                  color:white;
                  background:#638cb5;
                  border:0px;
                  width:80px;
                  height:19px;
                 }

             .btn{margin:16px 6px 2px 0;
             color:#ffffff;
             font-weight:bold;display:inline-block;
             padding:6px 27px;font-size:20px;
             text-align:center;cursor:pointer;
             outline:0;float:left;background-color:#237D7F;}

            .demo {
                    -webkit-box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 8px 16px 15px 1px rgba(0,0,0,0);
                    box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, 8px 16px 15px 1px rgba(0,0,0,0);
                    background: #1C6EA4;
                   }
                    body#tinymce {
                    background: #FFFFFF
                    }

      </style>

      <style type="text/css">
            .menu{text-align: right;}
            .header {display: flex;}
            .logo {float: left;}

      </style>

      <style type="text/css">
            *{
                margin: 30;
                paddig: 30;
            }

            #fondo1{
                width: 1108px;
                height 1000px;
                background: #FAB0EA;
                margin: 1.5em;
            }

            #fondo2{
                width: 1108px;
                height 1000px;
                background: #AFF2FB;
                margin: 1.5em;
            }

            #fondo3{
                width: 1108px;
                height 1000px;
                background: #AFFBB3;
                margin: 1.5em;
            }

            #fondo4{
                width: 1108px;
                height 1000px;
                background: #EEF987;
                margin: 1.5em;
            }

            #con1{
                width: 23.08%;
                height 32%;
                background: #BC1E04;
                border-radius: 0.5em;
                margin: 0.5em;
                float: left;

            }
            #con2{
                width: 23.08%;
                height 32%;
                background: #05BF17;
                border-radius: 0.5em;
                margin: 0.5em;
                float: left;
            }
            #con3{
                width: 23.08%;
                height 32%;
                background: #D6DB03;
                border-radius: 0.5em;
                margin: 0.5em;
                float: left;
            }
            #con4{
                width: 23.08%;
                height 32%;
                background: #AE129B;
                border-radius: 0.5em;
                margin: 0.5em;
                float: left;
            }

            #c1{
                width: 22%;
                height 32%;
                background: #BC1E04;
                margin: 1em;
                float: left;

            }
            #c2{
                width: 22%;
                height 32%;
                background: #05BF17;
                margin: 1em;
                float: left;
            }
            #c3{
                width: 22%;
                height 32%;
                background: #D6DB03;
                margin: 1em;
                float: left;
            }
            #c4{
                width: 22%;
                height 32%;
                background: #AE129B;
                margin: 1em;
                float: left;
            }

            #cont1{
                width: 250px;
                height 70px;
                background: #D8D8D8;
            }
            #cont2{
                width: 250px;
                height 70px;
                background: #D8D8D8;
            }
            #cont3{
                width: 250px;
                height 70px;
                background: #D8D8D8;
            }
            #cont4{
                width: 250px;
                height 70px;
                background: #D8D8D8;
            }

      </style>


<!-- CSS BOOTSTRAP Aplicado al NAVBAR -->
      <style type="text/css">

                            .navbar {
                              background-color: #000000;
                            }
                            .navbar .navbar-brand {
                              color: #879b9f;
                            }
                            .navbar .navbar-brand:hover,
                            .navbar .navbar-brand:focus {
                              color: #f4f0f7;
                            }
                            .navbar .navbar-text {
                              color: #879b9f;
                            }
                            .navbar .navbar-text a {
                              color: #f4f0f7;
                            }
                            .navbar .navbar-text a:hover,
                            .navbar .navbar-text a:focus {
                              color: #f4f0f7;
                            }
                            .navbar .navbar-nav .nav-link {
                              color: #879b9f;
                              border-radius: .25rem;
                              margin: 0 0.25em;
                            }
                            .navbar .navbar-nav .nav-link:not(.disabled):hover,
                            .navbar .navbar-nav .nav-link:not(.disabled):focus {
                              color: #f4f0f7;
                            }
                            .navbar .navbar-nav .dropdown-menu {
                              background-color: #000000;
                              border-color: #92c8d4;
                            }
                            .navbar .navbar-nav .dropdown-menu .dropdown-item {
                              color: #879b9f;
                            }
                            .navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
                            .navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
                            .navbar .navbar-nav .dropdown-menu .dropdown-item.active {
                              color: #f4f0f7;
                              background-color: #92c8d4;
                            }
                            .navbar .navbar-nav .dropdown-menu .dropdown-divider {
                              border-top-color: #92c8d4;
                            }
                            .navbar .navbar-nav .nav-item.active .nav-link,
                            .navbar .navbar-nav .nav-item.active .nav-link:hover,
                            .navbar .navbar-nav .nav-item.active .nav-link:focus,
                            .navbar .navbar-nav .nav-item.show .nav-link,
                            .navbar .navbar-nav .nav-item.show .nav-link:hover,
                            .navbar .navbar-nav .nav-item.show .nav-link:focus {
                              color: #f4f0f7;
                              background-color: #92c8d4;
                            }
                            .navbar .navbar-toggler {
                              border-color: #92c8d4;
                            }
                            .navbar .navbar-toggler:hover,
                            .navbar .navbar-toggler:focus {
                              background-color: #92c8d4;
                            }
                            .navbar .navbar-toggler .navbar-toggler-icon {
                              color: #879b9f;
                            }
                            .navbar .navbar-collapse,
                            .navbar .navbar-form {
                              border-color: #879b9f;
                            }
                            .navbar .navbar-link {
                              color: #879b9f;
                            }
                            .navbar .navbar-link:hover {
                              color: #f4f0f7;
                            }

                            @media (max-width: 575px) {
                              .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
                                color: #879b9f;
                              }
                              .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
                              .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
                                color: #f4f0f7;
                              }
                              .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
                                color: #f4f0f7;
                                background-color: #92c8d4;
                              }
                            }

                            @media (max-width: 767px) {
                              .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
                                color: #879b9f;
                              }
                              .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
                              .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
                                color: #f4f0f7;
                              }
                              .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
                                color: #f4f0f7;
                                background-color: #92c8d4;
                              }
                            }

                            @media (max-width: 991px) {
                              .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
                                color: #879b9f;
                              }
                              .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
                              .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
                                color: #f4f0f7;
                              }
                              .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
                                color: #f4f0f7;
                                background-color: #92c8d4;
                              }
                            }

                            @media (max-width: 1199px) {
                              .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
                                color: #879b9f;
                              }
                              .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
                              .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
                                color: #f4f0f7;
                              }
                              .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
                                color: #f4f0f7;
                                background-color: #92c8d4;
                              }
                            }

                            .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
                              color: #879b9f;
                            }
                            .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
                            .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
                              color: #f4f0f7;
                            }
                            .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
                              color: #f4f0f7;
                              background-color: #92c8d4;
                            }

      </style>


{% endblock %}

  <!-- /.navbar -->
