{% extends 'body.html' %}
{% load static %}

{% block head %}
                                    <!-- Link Static  -->
    <link rel="stylesheet" href="{% static 'lib/datatables/datatables-1.10.21/css/dataTables.bootstrap4.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'lib/datatables/datatables-1.10.21/plugins/Responsive-2.2.5/css/responsive.bootstrap4.min.css' %}"/>
    <script src="{% static 'lib/datatables/datatables-1.10.21/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/datatables/datatables-1.10.21/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables/datatables-1.10.21/plugins/Responsive-2.2.5/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/datatables/datatables-1.10.21/plugins/Responsive-2.2.5/js/responsive.bootstrap4.min.js' %}"></script>


                                    <!-- Link Static  Codigo Usuario Font Awesome para que funcionen iconos de esta pagina-->
    <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous"> -->


    {% block head_list %}

    {% endblock %}

{% endblock %}

{% block content %}
    <div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fas fa-search"></i>
            {{ title }}
        </h3>
    </div>

    <!-- /.card-header -->
   <div class="card-body">
        <table class="table" id="data">
            <thead>
            {% block columns %}
            {% endblock %}
            </thead>
            {% block rows %}
            <tbody>

            </tbody>
            {% endblock %}
        </table>
    </div>
    </div>

{% endblock %}