{% load static %}
<!-- Main Sidebar Container -->   <!--  ************* Menu lado Izquierdo Contraible ****************** -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
      <img src="{% static 'lib/adminlte-3.0.5/img/Logo3.png' %}"
           alt="AdminLTE Logo"
           class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">Saber Expo BI 5 </span>
</a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{% static 'lib/adminlte-3.0.5/img/user.png' %}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">Bienvenid@ <br> {{ request.user.username }}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'appdash:home_list1' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Consultar Puntajes</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'appdash:dashboard_list1' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Consultar Numero de Estudiantes</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'appdash:dashboard_list1G' %}" class="nav-link">
                <!--<a href="#" class="nav-link">-->
                  <i class="far fa-circle nav-icon"></i>
                  <p>Dashboard General</p>
                </a>
              </li>
            </ul>
          </li>
          <!--<li class="nav-item">
            <a href="../widgets.html" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
                Widgets
                <span class="right badge badge-danger">New</span>
              </p>
            </a>
          </li>-->
          {% if request.user.is_authenticated %}  <!-- si esta autenticado como admin puede ingrear el nuevo año -->
                <li class="nav-item has-treeview">
                  <a href="#" class="nav-link deactive">
                    <i class="nav-icon fas fa-copy"></i>
                    <p>
                      Carga Nuevo Año
                      <i class="fas fa-angle-left right"></i>
                      <span class="badge badge-info right">BD</span>
                    </p>
                  </a>
                  <ul class="nav nav-treeview">
                    <li class="nav-item">
                      <a href="{% url 'appdash:BD_list' %}" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Cargar Archivo</p>
                      </a>
                    </li>
                  </ul>
                </li>
          {% endif %}
          <li class="nav-item has-treeview">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-chart-pie"></i>
              <p>
                Cubos
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{% url 'appdash:NumEstuPorMunicipio_list' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Numero de Estudiantes por Municipio y Años Global</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'appdash:graficaest_list' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Numero de Estudiantes por Municipio General</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'appdash:tabla_puntaje_nat_list' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Puntaje Area Ciencias Naturales por Municipio y Año General</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'appdash:tabla_puntaje_leng_list' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Puntaje Area Lenguaje por Municipio y Año General</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'appdash:tabla_puntaje_mat_list' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Puntaje Matematicas por Municipio y Año General</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'appdash:tabla_puntaje_comp_list' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Puntaje Competencias por Municipio y Año General</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'appdash:NumEstuPorInstitucionListView_list' %}" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Consultar Numero de Estudiantes por Años Global</p>
                </a>
              </li>
            </ul>
          </li>
          <!--  Graficos Estadisticos Boxplot y Biplot -->
          <li class="nav-item has-treeview">
                  <a href="#" class="nav-link deactive">
                    <i class="nav-icon fas fa-chart-area"></i>
                    <p>
                          Estadistica
                      <i class="fas fa-angle-left right"></i>
                    </p>
                  </a>
                  <ul class="nav nav-treeview">
                    <li class="nav-item">
                      <a href="{% url 'appdash:boxplot_list' %}" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Boxplot</p>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a href="{% url 'appdash:biplot_list' %}" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Biplot</p>
                      </a>
                    </li>
                  </ul>
                </li>

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>