{% extends 'index.html' %}

{% block content %}
    <a href="{% url 'appdashfull:vista1' %}">Click</a>

    <ul>
    {% for FactSaber5 in Fact %}
        <li>{{FactSaber5.puntaje_lenguaje}} / {{FactSaber5.puntaje_matematicas}} / {{FactSaber5.muni_id_ente.muni_nombre}}</li>
    {% endfor %}
    </ul>
{% endblock %}