{% extends 'list.html' %}
{% load static %}

{% block head_list %}

         <script src="{% static 'dashboard2/js/list.js' %}"></script>
         <script src="{% static 'zoom/chartjs-plugin-zoom.js' %}"></script>
         <script src="http://kendo.cdn.telerik.com/2021.2.511/js/kendo.all.min.js"></script>

            <!-- Librerias Aplicar Buscador en los Select de los Formularios -->

        <link rel="stylesheet" href="{% static 'lib/buscar/css/select2.css' %}"/>
        <script src="{% static 'lib/buscar/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'lib/buscar/js/select2.js' %}"></script>


{% endblock %}

{% block columns %}
{% block booton %}

<div>

<form method="get" action="{% url 'appdash:dashboard_list' %}" id="form">


         <div class="row">
                <div class="col">
                    <label for="exampleFormControlSelect1">Estudiante</label>
                    <select id="estudiante" name="estudiante" class="boton_1 col-md-12 select2">

                      <option value="id_estudiante">Numero de Estudiantes</option>

                    </select>
                </div>

               <div class="col">
                    <label for="exampleFormControlSelect1">Categoria</label>
                    <select id="cat" name="cat" class="boton_1 col-md-13 select2">

                      <option>Genero</option>
                      <option>Tipo de Establecimiento</option>
                      <option>Zona</option>
                      <option>Discapacidad Cognitiva</option>
                      <option>Nivel de Desempeño Global</option>

                    </select>
                </div>

                <div class="col">
                        <label for="exampleFormControlSelect1">Municipio</label>
                    <select id="municipio" name="municipio" class="boton_1 col-md-12 select2">
                        <option>TODOS</option>
                        <option>IPIALES</option>
                        <option>CONTADERO</option>
                        <option>POTOSI</option>
                        <option>PUPIALES</option>
                        <option>CUMBAL</option>
                        <option>ILES</option>
                        <option>CUASPUD</option>
                        <option>PUERRES</option>
                        <option>FUNES</option>
                        <option>GUALMATAN</option>
                        <option>GUACHUCAL</option>
                        <option>CORDOBA</option>
                        <option>ALDANA</option>

                    </select>
                    <label for="exampleFormControlSelect1">Institución</label>
                    <select id="inst" name="inst" class="boton_1 col-md-12 select2">
                        <script>
                            var options1 = {
                                    "TODOS": [""],
                                    "IPIALES" : ["C.E.R. BRISAS DEL RUMIYACO","CENTRO DE ESTIMULACION ARTISTICA Y PEDAGOGICA JUAN JACOBO ROUSSEAU","CENTRO EDUCATIVO  LAS ANIMAS","CENTRO EDUCATIVO CAMELLONES","CENTRO EDUCATIVO CHACUAS","CENTRO EDUCATIVO CHAGUAIPE","CENTRO EDUCATIVO CORAZON DE MARIA","CENTRO EDUCATIVO CUTUAQUER ALTO","CENTRO EDUCATIVO CUTUAQUER BAJO","CENTRO EDUCATIVO DE CHIRANQUER","CENTRO EDUCATIVO DE TUSANDALA","CENTRO EDUCATIVO DOCE DE OCTUBRE","CENTRO EDUCATIVO DOCE DE OCTUBRE","CENTRO EDUCATIVO EL ARRAYAN","CENTRO EDUCATIVO EL CHARCO","CENTRO EDUCATIVO EL CULTUN","CENTRO EDUCATIVO EL MIRADOR","CENTRO EDUCATIVO EL ROSARIO","CENTRO EDUCATIVO EL SALADO","CENTRO EDUCATIVO EL TELIS","CENTRO EDUCATIVO GUACUAN","CENTRO EDUCATIVO INAGAN","CENTRO EDUCATIVO JUAN ENRIQUE PESTALOZZI","CENTRO EDUCATIVO LA EXFLORIA","CENTRO EDUCATIVO LA FLORESTA","CENTRO EDUCATIVO LA OREJUELA","CENTRO EDUCATIVO LA PALMA","CENTRO EDUCATIVO LA PRADERA","CENTRO EDUCATIVO LA SOLEDAD","CENTRO EDUCATIVO LLANO GRANDE","CENTRO EDUCATIVO LOMA DE ZURAS","CENTRO EDUCATIVO LOS MARCOS","CENTRO EDUCATIVO ROSAL DE SAN JUAN","CENTRO EDUCATIVO SAN ANTONIO","CENTRO EDUCATIVO SAN FRANCISCO DE ASIS","CENTRO EDUCATIVO SAN JORGE","CENTRO EDUCATIVO SAN JOSE ALTO","CENTRO EDUCATIVO SANTAFE","CENTRO EDUCATIVO TEQUEZ","CENTRO EDUCATIVO TOLA DE LAS LAJAS","CENTRO EDUCATIVO URAMBUD","CENTRO EDUCATIVO VILLAFLOR","CENTRO EDUCATIVO VILLAFLOR","CENTRO EDUCATIVO VILLAMORENO","CENTRO EDUCATIVO YANALA","CENTRO EDUMATICO NUEVO MILENIO","CENTRO ETNO EDUCATIVO INTERCULTURAL BILINGUE TAITA","CENTRO PEDAGOGICO CRISTINA","CENTRO PEDAGOGICO FUNDACION AMERICA","CENTRO PEDAGOGICO PRINCIPITO","CENTRO PEDAGOGICO SIGLO XXI","CENTRO PEDAGOGICO TOTORAL","COLEGIO CHAMPAGNAT","COLEGIO FILIPENSE","COLEGIO INMACULADA CONCEPCION","COLEGIO INSTITUTO EDUCATIVO COLOMBIANO INSECOL","COLEGIO RAYUELA","COLEGIO SAN FELIPE NERI","COLEGIO SAN VICENTE DE PAUL","INSTITUCION EDUCATIVA AGROINDUSTRIAL LOS PASTOS","INSTITUCION EDUCATIVA ALFONSO LOPEZ","INSTITUCION EDUCATIVA CIUDAD DE IPIALES","INSTITUCION EDUCATIVA CRISTO OBRERO","INSTITUCION EDUCATIVA DEL SUR","INSTITUCION EDUCATIVA EL EMPALME","INSTITUCION EDUCATIVA EL PLACER","INSTITUCION EDUCATIVA GABRIEL GARCIA MARQUEZ","INSTITUCION EDUCATIVA JESUS DE NAZARETH","INSTITUCION EDUCATIVA LA VICTORIA","INSTITUCION EDUCATIVA LAS LAJAS","INSTITUCION EDUCATIVA MICROEMPRESARIAL LOS ANDES","INSTITUCION EDUCATIVA NACIONAL SEMINARIO","INSTITUCION EDUCATIVA NAZARET","INSTITUCION EDUCATIVA NUESTRA SENORA DE LAS LAJAS","INSTITUCION EDUCATIVA PEREZ PALLARES","INSTITUCION EDUCATIVA POLITECNICO MARCELO MIRANDA","INSTITUCION EDUCATIVA PUENES","INSTITUCION EDUCATIVA SAN FRANCISCO DE ASIS","INSTITUCION EDUCATIVA SAN JUAN","INSTITUCION EDUCATIVA SAN LORENZO DE YARAMAL","INSTITUCION EDUCATIVA SUCRE","INSTITUCION EDUCATIVA TECNOLOGICA IND CHAMPAGNA","INSTITUCION EDUCATIVA TOMAS ARTURO SANCHEZ","INSTITUCION INFANTIL Y FAMILIAR MARIA DE LOS ANGELES - SEDE PRINCIPAL","LICEO PEDAGOGICO MADRIGAL","LICEO PEDAGOGICO MI PARAISO - SEDE PRINCIPAL","LICEO PEDAGOGICO NUEVO HORIZONTE","LICEO PUERTA DEL SOL","PEDAGOGICO JEAN PIAGET"],
                                    "CONTADERO" : ["CENTRO EDUCATIVO ALDEA DE MARIA","CENTRO EDUCATIVO CHORRERA NEGRA","CENTRO EDUCATIVO CULANTRO","CENTRO EDUCATIVO EL CONTADERITO","CENTRO EDUCATIVO ISCUAZAN","CENTRO EDUCATIVO LA JOSEFINA LOS LLANOS","CENTRO EDUCATIVO LA PROVIDENCIA","CENTRO EDUCATIVO OSPINA PEREZ","CENTRO EDUCATIVO SAGRADO CORAZON DE JESUS EL JUNCAL","CENTRO EDUCATIVO SAN ANDRES","CENTRO EDUCATIVO SAN FRANCISCO","CENTRO EDUCATIVO SAN JOSE DE QUISNAMUEZ","CENTRO EDUCATIVO SANTO DOMINGO","CENTRO EDUCATIVO SIMON BOLIVAR","CENTRO EDUCATIVO YAEZ","INSTITUCION EDUCATIVA COLEGIO DEPTAL SAN CARLOS","INSTITUCION EDUCATIVA LAS DELICIAS"],
                                    "POTOSI" : ["CENTRO EDUCATIVO ALTO SINAI","CENTRO EDUCATIVO ANTONIO NARINO","CENTRO EDUCATIVO CERRO GORDO","CENTRO EDUCATIVO CUASPUD CUATRO ESQUINAS","CENTRO EDUCATIVO DE CARDENAS","CENTRO EDUCATIVO EL CARRIZAL","CENTRO EDUCATIVO LA CABANA","CENTRO EDUCATIVO LA CORTADERA","CENTRO EDUCATIVO LA FLORIDA","CENTRO EDUCATIVO LA MAGDALENA","CENTRO EDUCATIVO LOMA DEL MEDIO","CENTRO EDUCATIVO LOS ALISOS","CENTRO EDUCATIVO LOS LAURELES","CENTRO EDUCATIVO PURBUNTUD","CENTRO EDUCATIVO SAN LUIS","CENTRO EDUCATIVO SAN MARCOS","CENTRO EDUCATIVO SAN PEDRO","CENTRO EDUCATIVO SANTA ROSA","CENTRO EDUCATIVO VILLA NUEVA","CENTRO EDUCATIVO YAMUESQUER","INSTITUCION EDUCATIVA AGROPECUARIA LUIS ANTONIO MONTERO","INSTITUCION EDUCATIVA BAJO SINAI","INSTITUCION EDUCATIVA INDIGENA SANTA TERESITA DE MUESES","INSTITUCION EDUCATIVA NUESTRA SENORA DE LOURDES","INSTITUCION EDUCATIVA SAN ANTONIO DE PADUA"],
                                    "PUPIALES" : ["CENTRO EDUCATIVO  CASAFRIA","CENTRO EDUCATIVO  CHIRES CENTRO","CENTRO EDUCATIVO  CHIRES MIRADOR","CENTRO EDUCATIVO  ESPINO SUR","CENTRO EDUCATIVO  IMBULA GRANDE","CENTRO EDUCATIVO  INCHUCHALA","CENTRO EDUCATIVO  SAN MARTIN CALPUTAN","CENTRO EDUCATIVO CHIRES SUR","CENTRO EDUCATIVO CUAS","CENTRO EDUCATIVO EL COMNN","CENTRO EDUCATIVO EL GUALTE","CENTRO EDUCATIVO ESPINO ALTO","CENTRO EDUCATIVO FUELAMUESQUER","CENTRO EDUCATIVO IMBULA CHICO","CENTRO EDUCATIVO MIRAFLORES","CENTRO EDUCATIVO PIACUN","CENTRO EDUCATIVO PUSIALQUER","CENTRO EDUCATIVO QUITIAQUEZ","CENTRO EDUCATIVO SAN MARCOS","CENTRO EDUCATIVO SANTA LUCIA","CENTRO EDUCATIVO TEPUD","CENTRO EDUCATIVO TRES ESQUINAS","INSTITUCION EDUCATIVA DE COMERCIO","INSTITUCION EDUCATIVA DEPARTAMENTAL LOS HEROES","INSTITUCION EDUCATIVA NORMAL SUPERIOR PIO XII","INSTITUCION EDUCATIVA TECNICA AGRICOLA JOSE MARIA HERNANDEZ"],
                                    "CUMBAL":["CENTRO EDUCATIVIO SAN MARTIN","CENTRO EDUCATIVO BELLAVISTA","CENTRO EDUCATIVO CHILES","CENTRO EDUCATIVO CHITA LLANO LARGO","CENTRO EDUCATIVO CRISTO REY","CENTRO EDUCATIVO CUALPALA","CENTRO EDUCATIVO CUASPUD GRANDE","CENTRO EDUCATIVO EL CHILCO","CENTRO EDUCATIVO EL DORADO","CENTRO EDUCATIVO EL ESPINO","CENTRO EDUCATIVO EL LAUREL","CENTRO EDUCATIVO EL MORTINO","CENTRO EDUCATIVO EL ROSAL","CENTRO EDUCATIVO EL SALADO","CENTRO EDUCATIVO EL TAMBILLO","CENTRO EDUCATIVO GOLONDRINAS","CENTRO EDUCATIVO GUAN CENTRO","CENTRO EDUCATIVO GUAPUL","CENTRO EDUCATIVO JORGE ELIECER GAITAN","CENTRO EDUCATIVO LA BALSA","CENTRO EDUCATIVO LA CALERA","CENTRO EDUCATIVO LA LAGUNA","CENTRO EDUCATIVO LA LIBERTAD","CENTRO EDUCATIVO LA ORTIGA","CENTRO EDUCATIVO LA PALMA","CENTRO EDUCATIVO LA POMA","CENTRO EDUCATIVO LA UNION","CENTRO EDUCATIVO LA VICTORIA","CENTRO EDUCATIVO LAS PLAYAS","CENTRO EDUCATIVO LOS PINOS","CENTRO EDUCATIVO MACHINES","CENTRO EDUCATIVO MARINO","CENTRO EDUCATIVO MARPI","CENTRO EDUCATIVO MARPI","CENTRO EDUCATIVO MAYASQUER","CENTRO EDUCATIVO MIRAFLORES","CENTRO EDUCATIVO NAZATE","CENTRO EDUCATIVO NUMBI","CENTRO EDUCATIVO PANAN","CENTRO EDUCATIVO PLACER ALTO","CENTRO EDUCATIVO PUEBLO VIEJO","CENTRO EDUCATIVO PUSCUELAN","CENTRO EDUCATIVO RIO BLANCO","CENTRO EDUCATIVO ROMERILLO","CENTRO EDUCATIVO SAN FELIPE","CENTRO EDUCATIVO SAN IGNACIO","CENTRO EDUCATIVO SAN JOSE","CENTRO EDUCATIVO SAN JUDAS","CENTRO EDUCATIVO SAN VICENTE DE MULAS","CENTRO EDUCATIVO TIERRAS DE COLOMBIA (GUAPA)","ESCUELA RURAL MIXTA EL MARINO","INSTITUCION EDUCATIVA AGROECOLOGICA SAGRADO CORAZON DE JESUS","INSTITUCION EDUCATIVA AGROPECUARIA INDIGENA DE PANAN","INSTITUCION EDUCATIVA ANDES DE CUICAL","INSTITUCION EDUCATIVA DIVINO NINO JESUS","INSTITUCION EDUCATIVA INDIGENA AGROAMBIENTAL MAYKER","INSTITUCION EDUCATIVA INMACULADA CONCEPCION DE TALLAMBI","INSTITUCION EDUCATIVA JOSE ANTONIO LLORENTE","INSTITUCION EDUCATIVA NUESTRO SENOR DEL RIO DE CHILES","INSTITUCION EDUCATIVA SAN JUAN DE MAYASQUER","INSTITUCION EDUCATIVA TECNICA AGROPECUARIA INDIGENA CUMBE","INSTITUCION EDUCATIVA YO REINARE"],
                                    "ILES":["CENTRO EDUCATIVO ALTO DEL REY","CENTRO EDUCATIVO BOLIVAR","CENTRO EDUCATIVO EL COMUN","CENTRO EDUCATIVO EL MIRADOR","CENTRO EDUCATIVO EL PORVENIR","CENTRO EDUCATIVO EL ROSARIO","CENTRO EDUCATIVO EL TABLON","CENTRO EDUCATIVO ISCUAZAN","CENTRO EDUCATIVO LA ESPERANZA","CENTRO EDUCATIVO LOMA ALTA","CENTRO EDUCATIVO LOMA DEL CARMEN","CENTRO EDUCATIVO SAN ANTONIO","CENTRO EDUCATIVO SAN JAVIER","CENTRO EDUCATIVO SANTO TOMAS","CENTRO EDUCATIVO TAMBURAN","CENTRO EDUCATIVO URBANO","ESC NVA EL ROSARIO","INSTITUCION EDUCATIVA COLEGIO JOSE ANTONIO GALAN","INSTITUCION EDUCATIVA DEL NORTE MUNICIPIO DE ILES","INSTITUCION EDUCATIVA SAN FRANCISCO DE ASIS"],
                                    "CUASPUD CARLOSAMA":["CENTRO EDUCATIVO CHAVISNAN","CENTRO EDUCATIVO EL CARCHI","CENTRO EDUCATIVO INDIGENA CHUNGANA","CENTRO EDUCATIVO MACAS DE CHAUTALA","CENTRO EDUCATIVO PUENTE DE TIERRA","CENTRO EDUCATIVO SAN FRANCISCO DE ARELLANOS","CENTRO EDUCATIVO SAN FRANCISCO DE MONTENEGRO","CENTRO EDUCATIVO SAN FRANCISCO DEL SOCORRO","INSTITUCION EDUCATIVA CAMILO TORRES","INSTITUCION EDUCATIVA SEBASTIAN GARCIA CARLOSAMA"],
                                    "PUERRES":["CENTRO EDUCATIVO CRISTO OBRERO","CENTRO EDUCATIVO DESMONTES ALTOS","CENTRO EDUCATIVO EL ESCRITORIO","CENTRO EDUCATIVO EL PAILON","CENTRO EDUCATIVO EL PARAMO","CENTRO EDUCATIVO EL ROSAL","CENTRO EDUCATIVO EL VERDE","CENTRO EDUCATIVO LA CHORRERA","CENTRO EDUCATIVO LA HACIENDA","CENTRO EDUCATIVO LA PLAYA","CENTRO EDUCATIVO LOMA LARGA","CENTRO EDUCATIVO LOS DESMONTES","CENTRO EDUCATIVO MAICIRA","CENTRO EDUCATIVO QUEBRADA BLANCA","CENTRO EDUCATIVO SAN FRANCISCO DE YANALE","CENTRO EDUCATIVO SAN LUIS DE EL LLANO","CENTRO EDUCATIVO SAN LUIS DE LA ESPERANZA","CENTRO EDUCATIVO SANTO TOMAS DE LA LAGUNA","CENTRO EDUCATIVO TESCUAL ALTO","CENTRO EDUCATIVO TESCUAL BAJO","CENTRO EDUCATIVO TRES CRUCES","ESCUELA RURAL MIXTA CHITAMAR BAJO","INSTITUCION EDUCATIVA JUAN XXIII","INSTITUCION EDUCATIVA MONOPAMBA","INSTITUCION EDUCATIVA SAN MATEO"],
                                    "FUNES":["CENTRO EDUCATIVO EL EDEN GUAPUSCAL BAJO","CENTRO EDUCATIVO EL SALADO","CENTRO EDUCATIVO EL SOCORRO DE CHITARRAN","CENTRO EDUCATIVO EL TERRERO","CENTRO EDUCATIVO GUAPUSCAL ALTO","CENTRO EDUCATIVO LA PRADERA","CENTRO EDUCATIVO LA SOLEDAD","CENTRO EDUCATIVO LA VEGA","CENTRO EDUCATIVO LOMA DE DELGADOS","CENTRO EDUCATIVO PENAS BLANCAS","CENTRO EDUCATIVO SAN FRANCISCO DE ASIS LA MESA","CENTRO EDUCATIVO SAN MIGUEL DE TELLEZ ALTO","CENTRO EDUCATIVO SAN MIGUEL DE TELLEZ BAJO","CENTRO EDUCATIVO SAN RAFAEL","CENTRO EDUCATIVO SUCUMBIOS","INSTITUCION EDUCATIVA AGROPECUARIA MARISCAL SUCRE","INSTITUCION EDUCATIVA MUNICIPIO DE FUNES"],
                                    "GUALMATAN":["CENTRO EDUCATIVO CHARANDU","CENTRO EDUCATIVO DOS CAMINOS","CENTRO EDUCATIVO LOMA DEL MEDIO","CENTRO EDUCATIVO LOS CEDROS","CENTRO EDUCATIVO SAN ANTONIO","CENTRO EDUCATIVO SAN MARTIN","INSTITUCION EDUCATIVA SAN JOSE","INSTITUCION EDUCATIVA TECNICA PROMOCION SOCIAL","INSTITUCION EDUCATIVA TECNICA SANTO TOMAS"],
                                    "GUACHUCAL":["CENTRO EDUCATIVO ARVELA","CENTRO EDUCATIVO CHAPUD","CENTRO EDUCATIVO CHIMANGUAL","CENTRO EDUCATIVO COMUNIDAD","CENTRO EDUCATIVO CRISTO ALTO","CENTRO EDUCATIVO CRISTO BAJO","CENTRO EDUCATIVO CUALAPUD","CENTRO EDUCATIVO EL CONSUELO","CENTRO EDUCATIVO GUAN","CENTRO EDUCATIVO GUAN PUENTE ALTO.","CENTRO EDUCATIVO GUANCHA","CENTRO EDUCATIVO INTEGD DE COLIMBA","CENTRO EDUCATIVO IPIALPUD","CENTRO EDUCATIVO LA VICTORIA.","CENTRO EDUCATIVO RIVERAS","CENTRO EDUCATIVO SAN RAMON","CENTRO EDUCATIVO SOL DE LOS PASTOS","INSTITUCION EDUCATIVA GENARO LEON","INSTITUCION EDUCATIVA SAN JOSE DE CHILLANQUER","INSTITUCION EDUCATIVA TECNICA AGROPECUARIA INDIGENA LIBARDO RAMIRO MUNOZ","INSTITUCION EDUCATIVA TECNICA AGROPECUARIA SAN DIEGO"],
                                    "CORDOBA":["CENTRO EDUCATIVO CHAIR","CENTRO EDUCATIVO EL BIJAGUAL","CENTRO EDUCATIVO EL GRANADILLO","CENTRO EDUCATIVO EL PALMAR","CENTRO EDUCATIVO EL PLACER","CENTRO EDUCATIVO EL PULIS","CENTRO EDUCATIVO EL SALADO","CENTRO EDUCATIVO GUITUNGAL","CENTRO EDUCATIVO LA CUMBRE","CENTRO EDUCATIVO LA ENSILLADA","CENTRO EDUCATIVO LA FLORIDA","CENTRO EDUCATIVO LLORENTE","CENTRO EDUCATIVO MIRADOR","CENTRO EDUCATIVO MUESMUERAN ALTO","CENTRO EDUCATIVO MUESMUERAN BAJO","CENTRO EDUCATIVO PUEBLO BAJO","CENTRO EDUCATIVO QUEBRADA BLANCA","CENTRO EDUCATIVO SAN FRANCISCO DE YUNGACHALA","CENTRO EDUCATIVO SAN JUAN CHICO","CENTRO EDUCATIVO SAN RANCISCO DE PAYAN","CENTRO EDUCATIVO SANTA BRIGIDA","CENTRO EDUCATIVO TANDAUD","CENTRO EUDCATIVO SAN PABLO DE PAYAN","INSTITUCION EDUCATIVA LOS ARRAYANES","INSTITUCION EDUCATIVA NUESTRA SRA. DE FATIMA","INSTITUCION EDUCATIVA SAN BARTOLOME","INSTITUCION EDUCATIVA SANTANDER","INSTITUCION EDUCATIVA TECNICA AGROECOLOGICA DEL RESGUARDO DE MALES","INSTITUCION EDUCATIVA TECNICA AGROPECUARIA INDIGENA DEL RESGUARDO DE MALES."],
                                    "ALDANA":["CENTRO EDUCATIVO ALTO MUESAS","CENTRO EDUCATIVO CAUPUERAN","CENTRO EDUCATIVO EL CHORRILO","CENTRO EDUCATIVO GUESPUD","CENTRO EDUCATIVO LA LAGUNA","CENTRO EDUCATIVO MUESAS","INSTITUCION EDUCATIVA COMERCIAL SAN LUIS","INSTITUCION EDUCATIVA NUESTRA SENORA DEL PILAR"],
                            }
                            $(function(){
                                var fillSecondaryA = function(){
                                    var selected1 = $('#municipio').val();
                                    $('#inst').empty();
                                    $('#inst').append('<option>General</option>');
                                    options1[selected1].forEach(function(element,index){
                                        $('#inst').append('<option value="'+element+'">'+element+'</option>');
                                    });
                                }
                                $('#municipio').change(fillSecondaryA);
                                fillSecondaryA();
                            });
                        </script>
                    </select>

                    <label for="exampleFormControlSelect1">Años</label>
                    <select id="anios" name="anios" class="boton_1 col-md-12 select2">
                        <option>TODOS</option>
                        <option>2014</option>
                        <option>2015</option>
                        <option>2016</option>
                        <option>2017</option>
                    </select>


                </div>


              <div class="col">
                    <label for="exampleFormControlSelect1">Tipo de Gráfica</label>
                    <select id="graf" name="graf" class="boton_1 col-md-10 select2">
                          <option value="tabla">Tabla</option>
                          <option value="bar">Barras</option>
                          <option value="pie">Pastel</option>
                          <option value="line">Linea</option>
                          <option value="radar">Radar</option>
                          <option value="polarArea">Area Polar</option>
                          <option value="doughnut">Dona</option>
                          <!--<option value="bubble">Burbuja</option>-->
                    </select>
                </div>

             <div class="col" style="width: 180px; margin: 0 auto;">
                <center>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <button type="submit" class="btn">Mostrar</button>
                </center>
             </div>
         </div>

</form>

</div>

<div class="card-header">
</div>

<div class="card-header">
</div>

<br>
<br>

<div id="graf_R" style="display:none;">
        <div class="container-fluid">
                <div class="center">
                    <div class="col">
                            <div class="col-md-10">

                                <canvas id="graficaNumEstu" data-url="{% url 'appdash:dashboard_list' %}"  width="850" height="1220" ></canvas>

                                    <div style="width: 180px; margin: 0 auto;">
                                        <button id="downloadBtn" class="btn-info" onclick="BajarPdf()">Descargar como PDF</button>
                                        <br>
                                        <br>
                                        <br>
                                        <button id="downloadBtnGra1" class="btn-info" onclick="resetZoom()"> Deshacer Zoom </button>
                                    </div>
                            </div>
                    </div>
                </div>
        </div>
</div>

<div id="tabla">

</div>

<!-- script  junto con librerias en list.html que permite implementar buscador en en el selec de categoria-->
<script type="text/javascript">
    $(document).ready(function(){
        $('#inst').select2();
    });
</script>

<script>

function resetZoom() {
  window.grafica.resetZoom();
}

</script>

<script>
 function BajarPdf(){
        kendo.drawing
         .drawDOM("#graficaNumEstu",
         {
          forcePageBreak: ".page-break",
          paperSize: "A4",
          margin: { top: "1cm", bottom: "1cm" },
          scale: 0.5,
          height: 500,
          template: $("#page-template").html(),
          keepTogether: ".prevent-split"
         })
          .then(function(group){
          kendo.drawing.pdf.saveAs(group, "Grafica.pdf")
         });
        }
</script>


{% endblock %}
    <!--<tr>
        <th scope="col" style="width: 20%;">Id</th>
        <th scope="col" style="width: 70%;">Consecutivo</th>
        <th scope="col" style="width: 20%;">Grupo</th>
        <th scope="col" style="width: 10%;">N</th>
        <th scope="col" style="width: 70%;">Estrato</th>
        <th scope="col" style="width: 20%;">Grado</th>
        <th scope="col" style="width: 20%;">Sexo</th>
        <th scope="col" style="width: 10%;">Dissenso</th>
    </tr> -->
{% endblock %}

{% block rows %}

{% endblock %}